
    {% render 'gp-head', isThemeSection: true %}
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-610939944264794989.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-610939944264794989.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-610939944264794989.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-610939944264794989.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-610939944264794989.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-610939944264794989.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-610939944264794989.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-610939944264794989.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-610939944264794989.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-610939944264794989.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-610939944264794989.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-610939944264794989.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-610939944264794989.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-610939944264794989.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-610939944264794989.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-610939944264794989.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-610939944264794989.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-610939944264794989.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-610939944264794989.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-610939944264794989.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-610939944264794989.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-610939944264794989.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-610939944264794989.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-610939944264794989.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-610939944264794989.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-610939944264794989.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-610939944264794989.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-610939944264794989.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-610939944264794989.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-610939944264794989.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-610939944264794989.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-610939944264794989.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-610939944264794989.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-610939944264794989.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-610939944264794989.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-610939944264794989.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-610939944264794989.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-610939944264794989.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-610939944264794989.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-610939944264794989.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-610939944264794989.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-610939944264794989.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-610939944264794989.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-610939944264794989.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-610939944264794989.gps.gpsil [style*="--z:"]{z-index:var(--z)}@media only screen and (max-width:1024px){.gps-610939944264794989.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-610939944264794989.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-610939944264794989.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-610939944264794989.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-610939944264794989.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-610939944264794989.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-610939944264794989.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-610939944264794989.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-610939944264794989.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-610939944264794989.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-610939944264794989.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-610939944264794989.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-610939944264794989.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-610939944264794989.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-610939944264794989.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-610939944264794989.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-610939944264794989.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-610939944264794989.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-610939944264794989.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-610939944264794989.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-610939944264794989.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-610939944264794989 .gp-relative{position:relative}.gps-610939944264794989 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-610939944264794989 .gp-mb-0{margin-bottom:0}.gps-610939944264794989 .gp-inline-block{display:inline-block}.gps-610939944264794989 .gp-flex{display:flex}.gps-610939944264794989 .gp-grid{display:grid}.gps-610939944264794989 .gp-contents{display:contents}.gps-610939944264794989 .\!gp-hidden{display:none!important}.gps-610939944264794989 .gp-hidden{display:none}.gps-610939944264794989 .gp-h-auto{height:auto}.gps-610939944264794989 .gp-h-full{height:100%}.gps-610939944264794989 .gp-w-full{width:100%}.gps-610939944264794989 .gp-max-w-full{max-width:100%}.gps-610939944264794989 .gp-flex-none{flex:none}.gps-610939944264794989 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-610939944264794989 .gp-flex-col{flex-direction:column}.gps-610939944264794989 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-610939944264794989 .gp-duration-200{transition-duration:.2s}.gps-610939944264794989 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-610939944264794989 .tablet\:\!gp-hidden{display:none!important}.gps-610939944264794989 .tablet\:gp-hidden{display:none}.gps-610939944264794989 .tablet\:gp-h-auto{height:auto}.gps-610939944264794989 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-610939944264794989 .mobile\:\!gp-hidden{display:none!important}.gps-610939944264794989 .mobile\:gp-hidden{display:none}.gps-610939944264794989 .mobile\:gp-h-auto{height:auto}.gps-610939944264794989 .mobile\:gp-flex-none{flex:none}}.gps-610939944264794989 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--pos:sticky;--pos-mobile:sticky;--top:0px;--top-mobile:0px;--z:1;--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#0E1111","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gvzetaQrr-"}' data-id="gvzetaQrr-" id="gvzetaQrr-" data-same-height-subgrid-container class="gvzetaQrr- gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:12px;--pl:32px;--pb:12px;--pr:32px;--pt-mobile:8px;--pl-mobile:16px;--pb-mobile:8px;--pr-mobile:16px;--pt-tablet:12px;--pl-tablet:32px;--pb-tablet:12px;--pr-tablet:32px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#0E1111;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gx5Whhq81q gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"giASuv5hwh"}' data-id="giASuv5hwh" id="giASuv5hwh" data-same-height-subgrid-container class="giASuv5hwh gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1000px;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gHg3wXhgCa gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gjmz4dNHVU"}' data-id="gjmz4dNHVU" id="gjmz4dNHVU" data-same-height-subgrid-container class="gjmz4dNHVU gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--mb-tablet:0px;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 8fr);--w:100%;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gfRwZdwmMG gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gCM06RP6yh"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1783692391531 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gCM06RP6yh"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggCM06RP6yh_srcSet_desktop_src_161696964 }}" srcset="{{ section.settings.ggCM06RP6yh_srcSet_desktop_src_161696964 }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggCM06RP6yh_srcSet_desktop_src_161696964 }}" srcset="{{ section.settings.ggCM06RP6yh_srcSet_desktop_src_161696964 }}" />
    
      
      <img
        base-src="{{ section.settings.ggCM06RP6yh_srcSet_desktop_src_161696964 }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="{{ section.settings.ggCM06RP6yh_srcSet_desktop_src_161696964 }}" data-src="{{ section.settings.ggCM06RP6yh_srcSet_desktop_src_161696964 }}"
        alt=""
        width="100%"
        style="--aspect:98/40;--aspect-tablet:98/40;--aspect-mobile:98/50;--objf:contain;--w:98px;--w-tablet:98px;--w-mobile:78px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gPSc2lyJi3 gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    "presets": [{ "name": "Landing - Header" }],
    "name": "Landing - Header",
    "tag": "section",
    "class": "gps-610939944264794989 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yet74e-p1/apps/gempages-cro/app/shopify/edit?pageType=THEME_SECTION&editorId=610939944264794989)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggCM06RP6yh_srcSet_desktop_src_161696964","label":"ggCM06RP6yh_srcSet_desktop_src_161696964","default":"https://cdn.shopify.com/s/files/1/0970/1284/2821/files/Logo.png"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}