
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-602953974047310529.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-602953974047310529.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-602953974047310529.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-602953974047310529.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-602953974047310529.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-602953974047310529.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-602953974047310529.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-602953974047310529.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-602953974047310529.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-602953974047310529.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-602953974047310529.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-602953974047310529.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-602953974047310529.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-602953974047310529.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-602953974047310529.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-602953974047310529.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-602953974047310529.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-602953974047310529.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-602953974047310529.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-602953974047310529.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-602953974047310529.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-602953974047310529.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-602953974047310529.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-602953974047310529.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-602953974047310529.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-602953974047310529.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-602953974047310529.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-602953974047310529.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-602953974047310529.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-602953974047310529.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-602953974047310529.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-602953974047310529.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-602953974047310529.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-602953974047310529.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-602953974047310529.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-602953974047310529.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-602953974047310529.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-602953974047310529.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-602953974047310529.gps.gpsil [style*="--of:"]{overflow:var(--of)}.gps-602953974047310529.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-602953974047310529.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-602953974047310529.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-602953974047310529.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-602953974047310529.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-602953974047310529.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-602953974047310529.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-602953974047310529.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-602953974047310529.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-602953974047310529.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-602953974047310529.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-602953974047310529.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-602953974047310529.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-602953974047310529.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-602953974047310529.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-602953974047310529.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-602953974047310529.gps.gpsil [style*="--of-tablet:"]{overflow:var(--of-tablet)}.gps-602953974047310529.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-602953974047310529.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-602953974047310529.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-602953974047310529.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-602953974047310529.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-602953974047310529.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-602953974047310529.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-602953974047310529.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-602953974047310529.gps.gpsil [style*="--bblr-mobile:"]{border-bottom-left-radius:var(--bblr-mobile)}.gps-602953974047310529.gps.gpsil [style*="--bbrr-mobile:"]{border-bottom-right-radius:var(--bbrr-mobile)}.gps-602953974047310529.gps.gpsil [style*="--bs-mobile:"]{border-style:var(--bs-mobile)}.gps-602953974047310529.gps.gpsil [style*="--btlr-mobile:"]{border-top-left-radius:var(--btlr-mobile)}.gps-602953974047310529.gps.gpsil [style*="--btrr-mobile:"]{border-top-right-radius:var(--btrr-mobile)}.gps-602953974047310529.gps.gpsil [style*="--shadow-mobile:"]{box-shadow:var(--shadow-mobile)}.gps-602953974047310529.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-602953974047310529.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-602953974047310529.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-602953974047310529.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-602953974047310529.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-602953974047310529.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-602953974047310529.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-602953974047310529.gps.gpsil [style*="--of-mobile:"]{overflow:var(--of-mobile)}.gps-602953974047310529.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-602953974047310529.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-602953974047310529.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-602953974047310529.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-602953974047310529.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-602953974047310529.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-602953974047310529.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-602953974047310529.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-602953974047310529 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-602953974047310529 .gp-g-heading-2{font-family:var(--g-h2-ff);font-size:var(--g-h2-size);font-style:var(--g-h2-fs);font-weight:var(--g-h2-weight);letter-spacing:var(--g-h2-ls);line-height:var(--g-h2-lh)}.gps-602953974047310529 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-602953974047310529 .gp-relative{position:relative}.gps-602953974047310529 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-602953974047310529 .gp-mb-0{margin-bottom:0}.gps-602953974047310529 .gp-inline-block{display:inline-block}.gps-602953974047310529 .gp-flex{display:flex}.gps-602953974047310529 .gp-grid{display:grid}.gps-602953974047310529 .gp-contents{display:contents}.gps-602953974047310529 .\!gp-hidden{display:none!important}.gps-602953974047310529 .gp-hidden{display:none}.gps-602953974047310529 .gp-h-auto{height:auto}.gps-602953974047310529 .gp-h-full{height:100%}.gps-602953974047310529 .gp-w-full{width:100%}.gps-602953974047310529 .gp-max-w-full{max-width:100%}.gps-602953974047310529 .gp-flex-none{flex:none}.gps-602953974047310529 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-602953974047310529 .gp-flex-col{flex-direction:column}.gps-602953974047310529 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-602953974047310529 .gp-duration-200{transition-duration:.2s}.gps-602953974047310529 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-602953974047310529 .tablet\:\!gp-hidden{display:none!important}.gps-602953974047310529 .tablet\:gp-hidden{display:none}.gps-602953974047310529 .tablet\:gp-h-auto{height:auto}.gps-602953974047310529 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-602953974047310529 .mobile\:\!gp-hidden{display:none!important}.gps-602953974047310529 .mobile\:gp-hidden{display:none}.gps-602953974047310529 .mobile\:gp-h-auto{height:auto}.gps-602953974047310529 .mobile\:gp-flex-none{flex:none}}.gps-602953974047310529 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#FFFFFF","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"ghhDr6d9MV"}' data-id="ghhDr6d9MV" id="ghhDr6d9MV" data-same-height-subgrid-container class="ghhDr6d9MV gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gMppyNX6cf gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gMAwrW3Qje"}' data-id="gMAwrW3Qje" id="gMAwrW3Qje" data-same-height-subgrid-container class="gMAwrW3Qje gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:var(--g-s-l);--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gDNCi3bcZi gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gL1Km2Arix"
        class="gL1Km2Arix"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:90%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--ta-mobile:left;--size:30px;--size-tablet:28px;--size-mobile:23px;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggL1Km2Arix_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gNxkdm35E1"}' data-id="gNxkdm35E1" id="gNxkdm35E1" data-same-height-subgrid-container class="gNxkdm35E1 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:var(--g-s-l);--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gySK3c9EXL gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"g6KjUvjrjz"}' data-id="g6KjUvjrjz" id="g6KjUvjrjz" data-same-height-subgrid-container class="g6KjUvjrjz gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gf0B2F-JvC gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gb3yc_TxNv"
      style="--mb:16px;--mb-tablet:16px;--mb-mobile:16px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--hasActiveShadow:true;--ta:center"
      class="gp-group/image gp-relative force-publish-1783692428777 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gb3yc_TxNv"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggb3yc_TxNv_srcSet_mobile_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggb3yc_TxNv_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggb3yc_TxNv_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggb3yc_TxNv_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:80%;--w-tablet:80%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--btrr:12px;--bblr:12px;--bbrr:12px;--btlr:12px;--radiusType:custom;--shadow:8.485281374238571px 8.48528137423857px 12px 0px rgba(18, 18, 18, 0.2)"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gW62UNbkmi"}' data-id="gW62UNbkmi" id="gW62UNbkmi" data-same-height-subgrid-container class="gW62UNbkmi gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gXpW7bu2Aq gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      data-id="gurHZK1mTo"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gurHZK1mTo gp-custom-code">
      <div>
    <script defer async src='https://cdn.trustindex.io/loader.js?e37b7a9620eb925ab16632f6295'></script>
    </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gSSfiNF8ZS gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gieqR8rx0C"}' data-id="gieqR8rx0C" id="gieqR8rx0C" data-same-height-subgrid-container class="gieqR8rx0C gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:16px;--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--mb-tablet:16px;--pt-tablet:var(--g-s-l);--pl-tablet:var(--g-s-l);--pb-tablet:var(--g-s-l);--pr-tablet:var(--g-s-l);--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:var(--g-s-l);--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bs-mobile:none;--bw:1px 1px 1px 1px;--bc:#DDDDDD;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--bblr-mobile:12px;--bbrr-mobile:12px;--btlr-mobile:12px;--btrr-mobile:12px;--shadow:0.0698096257491335px 3.999390780625565px 4px 0px rgba(248, 170, 167, 0.5);--shadow-mobile:0px 0px 10px 2px rgba(248, 170, 167, 0.5);--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-mobile:100%;--h:auto;--h-mobile:auto;--of:hidden;--of-tablet:hidden;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gmXseA4sXb gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gcqj0w0DTa"
        class="gcqj0w0DTa"
        style="--ta:left;--mb:12px;--mb-tablet:12px;--mb-mobile:4px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--size:22px;--size-tablet:22px;--size-mobile:20px;--c:#0E1111;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggcqj0w0DTa_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g5b_Ivtnlp"
        class="g5b_Ivtnlp"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#0E1111;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.gg5b_Ivtnlp_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gL2n5PxqON"}' data-id="gL2n5PxqON" id="gL2n5PxqON" data-same-height-subgrid-container class="gL2n5PxqON gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:16px;--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--mb-tablet:16px;--pt-tablet:var(--g-s-l);--pl-tablet:var(--g-s-l);--pb-tablet:var(--g-s-l);--pr-tablet:var(--g-s-l);--mt-mobile:16px;--ml-mobile:auto;--mb-mobile:16px;--mr-mobile:auto;--pt-mobile:var(--g-s-l);--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bw:1px 1px 1px 1px;--bc:#DDDDDD;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--bblr-mobile:12px;--bbrr-mobile:12px;--btlr-mobile:12px;--btrr-mobile:12px;--shadow:0.0698096257491335px 3.999390780625565px 4px 0px rgba(248, 170, 167, 0.5);--shadow-mobile:0px 0px 10px 2px rgba(248, 170, 167, 0.5);--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-mobile:100%;--h:auto;--h-mobile:auto;--of:hidden;--of-tablet:hidden;--of-mobile:hidden;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gpcRa5E6wn gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gorb-qJUM2"
        class="gorb-qJUM2"
        style="--ta:left;--mb:12px;--mb-tablet:12px;--mb-mobile:4px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--size:22px;--size-tablet:22px;--size-mobile:20px;--c:#0E1111;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggorb-qJUM2_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g2_9JgQ-Hh"
        class="g2_9JgQ-Hh"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#0E1111;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.gg2_9JgQ-Hh_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gKJMBmhw5i"}' data-id="gKJMBmhw5i" id="gKJMBmhw5i" data-same-height-subgrid-container class="gKJMBmhw5i gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:16px;--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--mb-tablet:16px;--pt-tablet:var(--g-s-l);--pl-tablet:var(--g-s-l);--pb-tablet:var(--g-s-l);--pr-tablet:var(--g-s-l);--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:16px;--mr-mobile:auto;--pt-mobile:var(--g-s-l);--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bw:1px 1px 1px 1px;--bc:#DDDDDD;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--bblr-mobile:12px;--bbrr-mobile:12px;--btlr-mobile:12px;--btrr-mobile:12px;--shadow:0.0698096257491335px 3.999390780625565px 4px 0px rgba(248, 170, 167, 0.5);--shadow-mobile:0px 0px 10px 2px rgba(248, 170, 167, 0.5);--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-mobile:100%;--h:auto;--h-mobile:auto;--of:hidden;--of-tablet:hidden;--of-mobile:hidden;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gmpNbzCebn gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="geHqAYhPmG"
        class="geHqAYhPmG"
        style="--ta:left;--mb:12px;--mb-tablet:12px;--mb-mobile:4px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--size:22px;--size-tablet:22px;--size-mobile:20px;--c:#0E1111;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggeHqAYhPmG_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gX11Xam43P"
        class="gX11Xam43P"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#0E1111;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggX11Xam43P_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gewmuqzB6z"}' data-id="gewmuqzB6z" id="gewmuqzB6z" data-same-height-subgrid-container class="gewmuqzB6z gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:16px;--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--mb-tablet:16px;--pt-tablet:var(--g-s-l);--pl-tablet:var(--g-s-l);--pb-tablet:var(--g-s-l);--pr-tablet:var(--g-s-l);--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:16px;--mr-mobile:auto;--pt-mobile:var(--g-s-l);--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bw:1px 1px 1px 1px;--bc:#DDDDDD;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--bblr-mobile:12px;--bbrr-mobile:12px;--btlr-mobile:12px;--btrr-mobile:12px;--shadow:0.0698096257491335px 3.999390780625565px 4px 0px rgba(248, 170, 167, 0.5);--shadow-mobile:0px 0px 10px 2px rgba(248, 170, 167, 0.5);--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-mobile:100%;--h:auto;--h-mobile:auto;--of:hidden;--of-tablet:hidden;--of-mobile:hidden;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gpWrCDlNMW gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g8fJh7fMoM"
        class="g8fJh7fMoM"
        style="--ta:left;--mb:12px;--mb-tablet:12px;--mb-mobile:4px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--size:22px;--size-tablet:22px;--size-mobile:20px;--c:#0E1111;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.gg8fJh7fMoM_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gJSC6Zw9q9"
        class="gJSC6Zw9q9"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#0E1111;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggJSC6Zw9q9_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gLMA7D6FGa"}' data-id="gLMA7D6FGa" id="gLMA7D6FGa" data-same-height-subgrid-container class="gLMA7D6FGa gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:16px;--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--mb-tablet:16px;--pt-tablet:var(--g-s-l);--pl-tablet:var(--g-s-l);--pb-tablet:var(--g-s-l);--pr-tablet:var(--g-s-l);--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:16px;--mr-mobile:auto;--pt-mobile:var(--g-s-l);--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bw:1px 1px 1px 1px;--bc:#DDDDDD;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--bblr-mobile:12px;--bbrr-mobile:12px;--btlr-mobile:12px;--btrr-mobile:12px;--shadow:0.0698096257491335px 3.999390780625565px 4px 0px rgba(248, 170, 167, 0.5);--shadow-mobile:0px 0px 10px 2px rgba(248, 170, 167, 0.5);--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-mobile:100%;--h:auto;--h-mobile:auto;--of:hidden;--of-tablet:hidden;--of-mobile:hidden;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="ghwF16X2kG gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ggdZ4g9O0q"
        class="ggdZ4g9O0q"
        style="--ta:left;--mb:12px;--mb-tablet:12px;--mb-mobile:4px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--size:22px;--size-tablet:22px;--size-mobile:20px;--c:#0E1111;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.gggdZ4g9O0q_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g05diKrPkE"
        class="g05diKrPkE"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#0E1111;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.gg05diKrPkE_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gILi6VUe5R"}' data-id="gILi6VUe5R" id="gILi6VUe5R" data-same-height-subgrid-container class="gILi6VUe5R gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--mb-tablet:0px;--pt-tablet:var(--g-s-l);--pl-tablet:var(--g-s-l);--pb-tablet:var(--g-s-l);--pr-tablet:var(--g-s-l);--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:16px;--mr-mobile:auto;--pt-mobile:var(--g-s-l);--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bw:1px 1px 1px 1px;--bc:#DDDDDD;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--bblr-mobile:12px;--bbrr-mobile:12px;--btlr-mobile:12px;--btrr-mobile:12px;--shadow:0.0698096257491335px 3.999390780625565px 4px 0px rgba(248, 170, 167, 0.5);--shadow-mobile:0px 0px 10px 2px rgba(248, 170, 167, 0.5);--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-mobile:100%;--h:auto;--h-mobile:auto;--of:hidden;--of-tablet:hidden;--of-mobile:hidden;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gSesypZwIY gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g4lCjV9r25"
        class="g4lCjV9r25"
        style="--ta:left;--mb:12px;--mb-tablet:12px;--mb-mobile:4px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--size:22px;--size-tablet:22px;--size-mobile:20px;--c:#0E1111;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.gg4lCjV9r25_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gFGLRCQyGP"
        class="gFGLRCQyGP"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#0E1111;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggFGLRCQyGP_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gpv9eP9Yat"}' data-id="gpv9eP9Yat" id="gpv9eP9Yat" data-same-height-subgrid-container class="gpv9eP9Yat gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--d-mobile:none"
      class="gM2PauxeOE gp-relative gp-flex gp-flex-col"
    >
      
    </div><div
      data-same-height-display-contents
      style="--jc:start;--d-mobile:none"
      class="gCTFKekiW6 gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 7",
    "tag": "section",
    "class": "gps-602953974047310529 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yet74e-p1/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=602054371101901351&sectionId=602953974047310529)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggL1Km2Arix_text","label":"ggL1Km2Arix_text","default":"Zakaj lastniki psov množično menjajo klasične dodatke za MobiMix?"},{"type":"html","id":"ggb3yc_TxNv_srcSet_desktop_src","label":"ggb3yc_TxNv_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0970/1284/2821/files/Untitled-design-8.webp"},{"type":"html","id":"ggb3yc_TxNv_srcSet_mobile_src","label":"ggb3yc_TxNv_srcSet_mobile_src","default":"https://cdn.shopify.com/s/files/1/0970/1284/2821/files/Untitled-design-8.webp"},{"type":"html","id":"ggcqj0w0DTa_text","label":"ggcqj0w0DTa_text","default":"<strong>✅&nbsp;Obnavlja hrustanec in preprečuje obrabo</strong>"},{"type":"html","id":"gg5b_Ivtnlp_text","label":"gg5b_Ivtnlp_text","default":"<p><strong>(Glukozamin + Hondroitin)</strong></p><p>Podpirata zdrav hrustanec in naravno blaženje udarcev – da se tvoj pes lahko giblje bolj sproščeno, korak za korakom.</p>"},{"type":"html","id":"ggorb-qJUM2_text","label":"ggorb-qJUM2_text","default":"<strong>🏃Pomaga lajšati togost po aktivnosti</strong>"},{"type":"html","id":"gg2_9JgQ-Hh_text","label":"gg2_9JgQ-Hh_text","default":"<p><strong>(Vražji krempelj + kurkuma + ingver)</strong></p><p>Podpirajo naravno regeneracijo in udobje sklepov po teku, igri ali dolgih sprehodih.</p>"},{"type":"html","id":"ggeHqAYhPmG_text","label":"ggeHqAYhPmG_text","default":"<strong>💧Podpira naravno drsenje sklepov</strong>"},{"type":"html","id":"ggX11Xam43P_text","label":"ggX11Xam43P_text","default":"<p><strong>(Zelenousta školjka + glukozamin + hondroitin)</strong></p><p>Pomaga ohranjati zdravo sklepno tekočino in naravno blaženje – za lahkotno, sproščeno gibanje.</p>"},{"type":"html","id":"gg8fJh7fMoM_text","label":"gg8fJh7fMoM_text","default":"<strong>🫷 Podpira vezivna tkiva</strong>"},{"type":"html","id":"ggJSC6Zw9q9_text","label":"ggJSC6Zw9q9_text","default":"<p><strong>(Zelenousta školjka)</strong></p><p>Naravni vir omega-3 maščobnih kislin in hranil, ki podpirajo zdravo delovanje sklepov in gibljivost pri vsakodnevnih naporih.</p>"},{"type":"html","id":"gggdZ4g9O0q_text","label":"gggdZ4g9O0q_text","default":"<strong>🛡️ Pomaga zaščititi pred vsakodnevnimi napori</strong>"},{"type":"html","id":"gg05diKrPkE_text","label":"gg05diKrPkE_text","default":"<p><strong>(Vitamin C + šipek)</strong></p><p>Pomaga pri tvorbi kolagena in ohranjanju strukture hrustanca, hkrati pa nudi močno antioksidativno zaščito.</p>"},{"type":"html","id":"gg4lCjV9r25_text","label":"gg4lCjV9r25_text","default":"<strong>‼️ Podpora dolgoročni gibljivosti</strong>"},{"type":"html","id":"ggFGLRCQyGP_text","label":"ggFGLRCQyGP_text","default":"<p><strong>(Zelenousta školjka) </strong></p><p>Bogat vir omega-3, aminokislin in mineralov, ki pomagajo ohranjati prožnost ter dolgoročno zdravje sklepov.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}