
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-622927891407569441.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-622927891407569441.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-622927891407569441.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-622927891407569441.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-622927891407569441.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-622927891407569441.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-622927891407569441.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-622927891407569441.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-622927891407569441.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-622927891407569441.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-622927891407569441.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-622927891407569441.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-622927891407569441.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-622927891407569441.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-622927891407569441.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-622927891407569441.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-622927891407569441.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-622927891407569441.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-622927891407569441.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-622927891407569441.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-622927891407569441.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-622927891407569441.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-622927891407569441.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-622927891407569441.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-622927891407569441.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-622927891407569441.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-622927891407569441.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-622927891407569441.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-622927891407569441.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-622927891407569441.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-622927891407569441.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-622927891407569441.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-622927891407569441.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-622927891407569441.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-622927891407569441.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-622927891407569441.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-622927891407569441.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-622927891407569441.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-622927891407569441.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-622927891407569441.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-622927891407569441.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-622927891407569441.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-622927891407569441.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-622927891407569441.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-622927891407569441.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-622927891407569441.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-622927891407569441.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-622927891407569441.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-622927891407569441.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-622927891407569441.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-622927891407569441.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-622927891407569441.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-622927891407569441.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-622927891407569441.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-622927891407569441.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-622927891407569441.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-622927891407569441.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-622927891407569441.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-622927891407569441.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-622927891407569441.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-622927891407569441.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-622927891407569441.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-622927891407569441.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-622927891407569441.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-622927891407569441.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-622927891407569441.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-622927891407569441.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-622927891407569441.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-622927891407569441.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-622927891407569441.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-622927891407569441.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-622927891407569441.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-622927891407569441.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-622927891407569441.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-622927891407569441.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-622927891407569441 .gp-g-subheading-2{font-family:var(--g-sh2-ff);font-size:var(--g-sh2-size);font-style:var(--g-sh2-fs);font-weight:var(--g-sh2-weight);letter-spacing:var(--g-sh2-ls);line-height:var(--g-sh2-lh)}.gps-622927891407569441 .gp-g-paragraph-2{font-family:var(--g-p2-ff);font-size:var(--g-p2-size);font-style:var(--g-p2-fs);font-weight:var(--g-p2-weight);letter-spacing:var(--g-p2-ls);line-height:var(--g-p2-lh)}.gps-622927891407569441 .gp-relative{position:relative}.gps-622927891407569441 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-622927891407569441 .gp-mb-0{margin-bottom:0}.gps-622927891407569441 .gp-inline-block{display:inline-block}.gps-622927891407569441 .gp-flex{display:flex}.gps-622927891407569441 .gp-grid{display:grid}.gps-622927891407569441 .gp-contents{display:contents}.gps-622927891407569441 .\!gp-hidden{display:none!important}.gps-622927891407569441 .gp-hidden{display:none}.gps-622927891407569441 .gp-h-auto{height:auto}.gps-622927891407569441 .gp-h-full{height:100%}.gps-622927891407569441 .gp-w-full{width:100%}.gps-622927891407569441 .gp-w-max{width:-moz-max-content;width:max-content}.gps-622927891407569441 .gp-min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-622927891407569441 .\!gp-max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-622927891407569441 .gp-max-w-full{max-width:100%}.gps-622927891407569441 .gp-flex-1{flex:1 1 0%}.gps-622927891407569441 .gp-flex-none{flex:none}.gps-622927891407569441 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-622927891407569441 .gp-flex-col{flex-direction:column}.gps-622927891407569441 .gp-flex-wrap{flex-wrap:wrap}.gps-622927891407569441 .gp-text-center{text-align:center}.gps-622927891407569441 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-622927891407569441 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-622927891407569441 .gp-duration-200{transition-duration:.2s}.gps-622927891407569441 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-622927891407569441 .tablet\:\!gp-hidden{display:none!important}.gps-622927891407569441 .tablet\:gp-hidden{display:none}.gps-622927891407569441 .tablet\:gp-h-auto{height:auto}.gps-622927891407569441 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-622927891407569441 .mobile\:\!gp-hidden{display:none!important}.gps-622927891407569441 .mobile\:gp-hidden{display:none}.gps-622927891407569441 .mobile\:gp-h-auto{height:auto}.gps-622927891407569441 .mobile\:gp-flex-none{flex:none}}.gps-622927891407569441 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gqdGjEk70Z"}' data-id="gqdGjEk70Z" id="gqdGjEk70Z" data-same-height-subgrid-container class="gqdGjEk70Z gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gZZpEbDZFo gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#0E1111","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g0UY2jXczR"}' data-id="g0UY2jXczR" id="g0UY2jXczR" data-same-height-subgrid-container class="g0UY2jXczR gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:12px;--pb:12px;--mb-mobile:0px;--pt-mobile:12px;--pb-mobile:12px;--mb-tablet:0px;--pt-tablet:12px;--pb-tablet:12px;--cg:16px;--rg:0px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--h:auto;--bgc:#0E1111;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g3l9-_CW_2 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gyAnB0CyOu"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1783692414397 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gyAnB0CyOu"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggyAnB0CyOu_srcSet_desktop_src }}" srcset="{{ section.settings.ggyAnB0CyOu_srcSet_desktop_src }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggyAnB0CyOu_srcSet_desktop_src }}" srcset="{{ section.settings.ggyAnB0CyOu_srcSet_desktop_src }}" />
    
      
      <img
        base-src="{{ section.settings.ggyAnB0CyOu_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="{{ section.settings.ggyAnB0CyOu_srcSet_desktop_src }}" data-src="{{ section.settings.ggyAnB0CyOu_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100px;--w-tablet:100px;--w-mobile:100px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gmPe9JTTW7 gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gtMmIPEwI- ">
      
    <gp-countdown-timer
        data-id="gtMmIPEwI-"
        gp-href
        class="gp-flex"
        style="--jc:center"
        gp-data='{"autoHideWhenTimeout":false,"behaviour":"evergreen","dateStandard":"Fri May 22 2026 04:21:40 GMT+0200 (Srednjeevropski poletni čas)","dayLabel":"Day","enableDay":false,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Hrs","loopAfterFinish":true,"minuteLabel":"Min","redirectUrl":{"link":"","target":"_self","type":"stay-on-page"},"secondLabel":"Sec","standardType":"all-time-zones","timeZone":"UTC-4","timerDaily":{"format":"am","hours":10,"mins":0},"timerEverygreen":{"days":0,"endTime":1779055089294,"hours":4,"mins":30,"seconds":0,"startTime":1778811700850},"weekLabel":"Week","uid":"gtMmIPEwI-","builderData":{"advanced":{"animation":{"desktop":{"enabled":false,"trigger":"appear","triggerConfig":{"appear":{"animation":"fade","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":true,"scale":{"in":[80,100],"out":[120,100]},"speed":1.7,"zoomDirection":"in"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":false,"scale":{"in":[100,120],"out":[100,80]},"speed":1.7,"zoomDirection":"in"}}}}}},"border":{"desktop":{"normal":{"border":"none","borderType":"none","borderWidth":"1px","color":"line-3","isCustom":true,"width":"1px 1px 1px 1px"}}},"boxShadow":{"desktop":{"normal":{}}},"d":{"desktop":true,"mobile":true,"tablet":true},"hasBoxShadow":{"desktop":{"normal":false}},"op":{"desktop":"100%"},"rounded":{"desktop":{"normal":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"}}},"spacing-setting":{"desktop":{"margin":{"bottom":0}}}},"label":"Countdown Timer","settings":{"autoHideWhenTimeout":false,"behaviour":"evergreen","dateStandard":"Fri May 22 2026 04:21:40 GMT+0200 (Srednjeevropski poletni čas)","dayLabel":"Day","enableDay":false,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Hrs","loopAfterFinish":true,"minuteLabel":"Min","redirectUrl":{"link":"","target":"_self","type":"stay-on-page"},"secondLabel":"Sec","standardType":"all-time-zones","timeZone":"UTC-4","timerDaily":{"format":"am","hours":10,"mins":0},"timerEverygreen":{"days":0,"endTime":1779055089294,"hours":4,"mins":30,"seconds":0,"startTime":1778811700850},"weekLabel":"Week"},"styles":{"backgroundItemColor":"bg-2","borderState":{"normal":{"border":"none","borderType":"none","borderWidth":"1px","isCustom":false,"width":"1px 1px 1px 1px"}},"colorLabel":"text-2","colorNumber":"text-2","enableLabelTextStyle":true,"horizontalGap":"16px","itemPadding":{"desktop":{"bottom":"8px","left":"24px","right":"24px","top":"8px"}},"labelTypo":{"attrs":{"color":"text-1"},"type":"paragraph-2"},"numTypo":{"attrs":{"bold":true,"color":"text-2"},"type":"subheading-2"},"padding":{"desktop":{"padding":{"bottom":"12px","left":"24px","right":"24px","top":"12px","type":"custom"}}},"roundedState":{"normal":{"bblr":"8px","bbrr":"8px","btlr":"8px","btrr":"8px","radiusType":"rounded"}},"textAlign":{"desktop":"center"},"verticalGap":"8px"},"tag":"Countdown","uid":"gtMmIPEwI-","childrens":[],"type":"component"}}'>
        <div id="section-countdown" class="gp-flex gp-flex-wrap gp-w-max gp-relative " style="gap:16px;--jc:center">
        
          
          
          
    <div style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--bs:none;--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--hvr-bblr:8px;--hvr-bbrr:8px;--hvr-btlr:8px;--hvr-btrr:8px;--focus-bblr:8px;--focus-bbrr:8px;--focus-btlr:8px;--focus-btrr:8px;--active-bblr:8px;--active-bbrr:8px;--active-btlr:8px;--active-btrr:8px;--bg:var(--g-c-bg-2, bg-2)" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gtMmIPEwI--text" id="hour"
        class="gtMmIPEwI-"
        style="--mb:8px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2 gp-g-subheading-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;overflow:hidden"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gtMmIPEwI--text"
        class="gtMmIPEwI-"
        style="--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-2 gp-g-paragraph-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden"
        >
          {{ section.settings.ggtMmIPEwI-_hourLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--bs:none;--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--hvr-bblr:8px;--hvr-bbrr:8px;--hvr-btlr:8px;--hvr-btrr:8px;--focus-bblr:8px;--focus-bbrr:8px;--focus-btlr:8px;--focus-btrr:8px;--active-bblr:8px;--active-bbrr:8px;--active-btlr:8px;--active-btrr:8px;--bg:var(--g-c-bg-2, bg-2)" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gtMmIPEwI--text" id="minute"
        class="gtMmIPEwI-"
        style="--mb:8px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2 gp-g-subheading-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;overflow:hidden"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gtMmIPEwI--text"
        class="gtMmIPEwI-"
        style="--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-2 gp-g-paragraph-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden"
        >
          {{ section.settings.ggtMmIPEwI-_minuteLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--bs:none;--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--hvr-bblr:8px;--hvr-bbrr:8px;--hvr-btlr:8px;--hvr-btrr:8px;--focus-bblr:8px;--focus-bbrr:8px;--focus-btlr:8px;--focus-btrr:8px;--active-bblr:8px;--active-bbrr:8px;--active-btlr:8px;--active-btrr:8px;--bg:var(--g-c-bg-2, bg-2)" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gtMmIPEwI--text" id="second"
        class="gtMmIPEwI-"
        style="--mb:8px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2 gp-g-subheading-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;overflow:hidden"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gtMmIPEwI--text"
        class="gtMmIPEwI-"
        style="--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-2 gp-g-paragraph-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden"
        >
          {{ section.settings.ggtMmIPEwI-_secondLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
      </div>
     </gp-countdown-timer>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-countdown-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-622927891407569441 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yet74e-p1/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=622927891239272993&sectionId=622927891407569441)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggyAnB0CyOu_srcSet_desktop_src","label":"ggyAnB0CyOu_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0970/1284/2821/files/Logo.png"},{"type":"html","id":"ggtMmIPEwI-_dayLabel","label":"ggtMmIPEwI-_dayLabel","default":"Day"},{"type":"html","id":"ggtMmIPEwI-_hourLabel","label":"ggtMmIPEwI-_hourLabel","default":"Hrs"},{"type":"html","id":"ggtMmIPEwI-_minuteLabel","label":"ggtMmIPEwI-_minuteLabel","default":"Min"},{"type":"html","id":"ggtMmIPEwI-_secondLabel","label":"ggtMmIPEwI-_secondLabel","default":"Sec"},{"type":"html","id":"ggtMmIPEwI-_weekLabel","label":"ggtMmIPEwI-_weekLabel","default":"Week"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}