
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-606713067635475204.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-606713067635475204.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-606713067635475204.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-606713067635475204.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-606713067635475204.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-606713067635475204.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-606713067635475204.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-606713067635475204.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-606713067635475204.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-606713067635475204.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-606713067635475204.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-606713067635475204.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-606713067635475204.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-606713067635475204.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-606713067635475204.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-606713067635475204.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-606713067635475204.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-606713067635475204.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-606713067635475204.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-606713067635475204.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-606713067635475204.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-606713067635475204.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-606713067635475204.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-606713067635475204.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-606713067635475204.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-606713067635475204.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-606713067635475204.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-606713067635475204.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-606713067635475204.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-606713067635475204.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-606713067635475204.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-606713067635475204.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-606713067635475204.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-606713067635475204.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-606713067635475204.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-606713067635475204.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-606713067635475204.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-606713067635475204.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-606713067635475204.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-606713067635475204.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-606713067635475204.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-606713067635475204.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-606713067635475204.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-606713067635475204.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-606713067635475204.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-606713067635475204.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-606713067635475204.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-606713067635475204.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-606713067635475204.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-606713067635475204.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-606713067635475204.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-606713067635475204.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-606713067635475204.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-606713067635475204.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-606713067635475204.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-606713067635475204.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-606713067635475204.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-606713067635475204.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-606713067635475204.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-606713067635475204.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-606713067635475204.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-606713067635475204.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-606713067635475204.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-606713067635475204.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-606713067635475204.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-606713067635475204.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-606713067635475204.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-606713067635475204.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-606713067635475204.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-606713067635475204.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-606713067635475204.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-606713067635475204.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-606713067635475204.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-606713067635475204.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-606713067635475204.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-606713067635475204.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-606713067635475204.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-606713067635475204.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-606713067635475204.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-606713067635475204.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-606713067635475204 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-606713067635475204 .gp-g-heading-3{font-family:var(--g-h3-ff);font-size:var(--g-h3-size);font-style:var(--g-h3-fs);font-weight:var(--g-h3-weight);letter-spacing:var(--g-h3-ls);line-height:var(--g-h3-lh)}.gps-606713067635475204 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-606713067635475204 .gp-relative{position:relative}.gps-606713067635475204 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-606713067635475204 .gp-mb-0{margin-bottom:0}.gps-606713067635475204 .gp-inline-block{display:inline-block}.gps-606713067635475204 .gp-flex{display:flex}.gps-606713067635475204 .gp-inline-flex{display:inline-flex}.gps-606713067635475204 .gp-grid{display:grid}.gps-606713067635475204 .gp-contents{display:contents}.gps-606713067635475204 .\!gp-hidden{display:none!important}.gps-606713067635475204 .gp-hidden{display:none}.gps-606713067635475204 .gp-h-auto{height:auto}.gps-606713067635475204 .gp-h-full{height:100%}.gps-606713067635475204 .gp-w-full{width:100%}.gps-606713067635475204 .gp-max-w-full{max-width:100%}.gps-606713067635475204 .gp-flex-none{flex:none}.gps-606713067635475204 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-606713067635475204 .gp-flex-col{flex-direction:column}.gps-606713067635475204 .gp-items-center{align-items:center}.gps-606713067635475204 .gp-justify-center{justify-content:center}.gps-606713067635475204 .gp-overflow-hidden{overflow:hidden}.gps-606713067635475204 .gp-break-words{overflow-wrap:break-word}.gps-606713067635475204 .gp-text-center{text-align:center}.gps-606713067635475204 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-606713067635475204 .gp-no-underline{text-decoration-line:none}.gps-606713067635475204 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-606713067635475204 .gp-duration-200{transition-duration:.2s}.gps-606713067635475204 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-606713067635475204 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-606713067635475204 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-606713067635475204 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-606713067635475204 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-606713067635475204 .tablet\:\!gp-hidden{display:none!important}.gps-606713067635475204 .tablet\:gp-hidden{display:none}.gps-606713067635475204 .tablet\:gp-h-auto{height:auto}.gps-606713067635475204 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-606713067635475204 .mobile\:\!gp-hidden{display:none!important}.gps-606713067635475204 .mobile\:gp-hidden{display:none}.gps-606713067635475204 .mobile\:gp-h-auto{height:auto}.gps-606713067635475204 .mobile\:gp-flex-none{flex:none}}.gps-606713067635475204 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-606713067635475204 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","preload":false}},"uid":"g6LnMfp5eh"}' data-id="g6LnMfp5eh" id="g6LnMfp5eh" data-same-height-subgrid-container class="g6LnMfp5eh gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pb:50px;--pt-mobile:0px;--pb-mobile:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g0cPxyAJSu gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gSC4m2at-b"}' data-id="gSC4m2at-b" id="gSC4m2at-b" data-same-height-subgrid-container class="gSC4m2at-b gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--pos:relative;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:45px;--pt-mobile:20px;--pb-mobile:21px;--pt-tablet:45px;--pl-tablet:20px;--pr-tablet:20px;--cg:36px;--cg-tablet:28px;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-tablet:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:996px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gAmdRkaVXh gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gF5nAtNXoc"
        class="gF5nAtNXoc"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pb:4px;--mb-tablet:4px;--pl-tablet:0px;--pr-tablet:0px;--mb-mobile:12px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h1
          data-gp-text
          class="gp-g-heading-3  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:left;--size:30px;--size-tablet:36px;--size-mobile:32px;--c:#0E1111;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggF5nAtNXoc_text | replace: '$locationOrigin', locationOrigin }}
        </h1>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gt1Cc3qyHv"
        class="gt1Cc3qyHv"
        style="--ta:left;--mb:12px;--mb-tablet:12px;--mb-mobile:12px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggt1Cc3qyHv_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g5PgEtY5HT"
        class="g5PgEtY5HT"
        style="--ta:left;--mb:12px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.gg5PgEtY5HT_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="g5wX0-CegJ"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:28px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:21px;--mb-tablet:28px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1783692451444 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g5wX0-CegJ"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.gg5wX0-CegJ_srcSet_mobile_src }}" srcset="{{ section.settings.gg5wX0-CegJ_srcSet_mobile_src }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.gg5wX0-CegJ_srcSet_desktop_src }}" srcset="{{ section.settings.gg5wX0-CegJ_srcSet_desktop_src }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ section.settings.gg5wX0-CegJ_srcSet_desktop_src }}" data-src="{{ section.settings.gg5wX0-CegJ_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:586/441;--aspect-tablet:586/441;--aspect-mobile:auto;--objf:cover;--w:586px;--w-tablet:586px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--radiusType:rounded"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-g5wX0-CegJ">
        .g5wX0-CegJ {

}
.g5wX0-CegJ > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gwEpXzBV2R"
        class="gwEpXzBV2R"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:28px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#0E1111;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggwEpXzBV2R_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gwEpXzBV2R">
        .gwEpXzBV2R {

}
.gwEpXzBV2R p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gqYDjmJSX8"
        class="gqYDjmJSX8"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-tablet:12px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--size:28px;--size-tablet:28px;--size-mobile:24px;--c:#0E1111;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggqYDjmJSX8_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g5D0nU6OAr"
        class="g5D0nU6OAr"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#0E1111;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.gg5D0nU6OAr_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g5D0nU6OAr">
        .g5D0nU6OAr {

}
.g5D0nU6OAr p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gRn82zsuGs"
        class="gRn82zsuGs"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-tablet:12px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--size:28px;--size-tablet:28px;--size-mobile:24px;--c:#0E1111;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggRn82zsuGs_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gFCbYRVVnf"
        class="gFCbYRVVnf"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:28px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#0E1111;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggFCbYRVVnf_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gFCbYRVVnf">
        .gFCbYRVVnf {

}
.gFCbYRVVnf p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g941jG98lU"
        class="g941jG98lU"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-tablet:12px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--size:28px;--size-tablet:28px;--size-mobile:24px;--c:#0E1111;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.gg941jG98lU_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gYQFUfdlef"
        class="gYQFUfdlef"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:28px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#0E1111;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggYQFUfdlef_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gYQFUfdlef">
        .gYQFUfdlef {

}
.gYQFUfdlef p {

}
      </style>
    
    <div
      role="presentation"
      data-id="gi9nnlUOM8"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:28px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:21px;--mb-tablet:28px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1783692451450 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gi9nnlUOM8"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggi9nnlUOM8_srcSet_desktop_src }}" srcset="{{ section.settings.ggi9nnlUOM8_srcSet_desktop_src }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggi9nnlUOM8_srcSet_desktop_src }}" srcset="{{ section.settings.ggi9nnlUOM8_srcSet_desktop_src }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ section.settings.ggi9nnlUOM8_srcSet_desktop_src }}" data-src="{{ section.settings.ggi9nnlUOM8_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--radiusType:rounded"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gi9nnlUOM8">
        .gi9nnlUOM8 {

}
.gi9nnlUOM8 > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g5iX_agiWg"
        class="g5iX_agiWg"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-tablet:12px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--size:28px;--size-tablet:28px;--size-mobile:24px;--c:#0E1111;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.gg5iX_agiWg_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gsc6ZjRhOH"
        class="gsc6ZjRhOH"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:28px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#0E1111;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggsc6ZjRhOH_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gsc6ZjRhOH">
        .gsc6ZjRhOH {

}
.gsc6ZjRhOH p {

}
      </style>
    
    <div
      role="presentation"
      data-id="gyiBjYoqpn"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:28px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:21px;--mb-tablet:28px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1783692451453 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gyiBjYoqpn"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggyiBjYoqpn_srcSet_desktop_src }}" srcset="{{ section.settings.ggyiBjYoqpn_srcSet_desktop_src }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggyiBjYoqpn_srcSet_desktop_src }}" srcset="{{ section.settings.ggyiBjYoqpn_srcSet_desktop_src }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ section.settings.ggyiBjYoqpn_srcSet_desktop_src }}" data-src="{{ section.settings.ggyiBjYoqpn_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--radiusType:rounded"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gyiBjYoqpn">
        .gyiBjYoqpn {

}
.gyiBjYoqpn > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gJzLLZu3wM"
        class="gJzLLZu3wM"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-tablet:12px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--size:28px;--size-tablet:28px;--size-mobile:24px;--c:#0E1111;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggJzLLZu3wM_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gbLbJ091fv"
        class="gbLbJ091fv"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#0E1111;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggbLbJ091fv_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gbLbJ091fv">
        .gbLbJ091fv {

}
.gbLbJ091fv p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gguDMWvKOx gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gpl58I66iu"}' data-id="gpl58I66iu" id="gpl58I66iu" data-same-height-subgrid-container class="gpl58I66iu gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--pos:sticky;--right:0px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:32px;--pl-mobile:20px;--pr-mobile:20px;--pl-tablet:0px;--top:45px;--cg:8px;--gtc:minmax(0, 12fr);--w:375px;--w-tablet:375px;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gONNs6Ezdc gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gIkxxv5fln"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1783692451457 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gIkxxv5fln"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggIkxxv5fln_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggIkxxv5fln_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggIkxxv5fln_srcSet_desktop_src }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggIkxxv5fln_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bblr:0px;--bbrr:0px;--btlr:12px;--btrr:12px;--radiusType:custom"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gIkxxv5fln">
        .gIkxxv5fln {

}
.gIkxxv5fln > figure > img {

}
      </style>
    
    <gp-button
      gp-data='{"btnLink":{"link":"#gNDRNZmesZ","target":"_self","type":"scroll-to","title":"Section 4"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:10px;--bbrr:10px;--btlr:0px;--btrr:0px;--pt:0px;--pb:0px;--ta:left" >
        <style>[data-id="gz3WyIank3"].gp-button-base::before, [data-id="gz3WyIank3-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="gz3WyIank3"]:hover::before, [data-id="gz3WyIank3-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#gNDRNZmesZ
            target=_self
          ></a>
        <a
          data-id="gz3WyIank3" dataId="gz3WyIank3" data-state="idle" aria-label="<p>Preveri MobiMix</p>"
          
          href="#gNDRNZmesZ" target="_self"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:12px;--pb-mobile:12px;--bblr:12px;--bbrr:12px;--btlr:0px;--btrr:0px;--hvr-bblr:12px;--hvr-bbrr:12px;--hvr-btlr:0px;--hvr-btrr:0px;--shadow:none;--hvr-bg:#3E4141;--bg:#0E1111;--c:var(--g-c-text-3, text-3);--weight:bold"
          class="gz3WyIank3 gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 gp-g-paragraph-1"
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--weight:bold;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggz3WyIank3_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-gz3WyIank3">
        button.gz3WyIank3 {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-606713067635475204 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yet74e-p1/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=606713052519203738&sectionId=606713067635475204)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggF5nAtNXoc_text","label":"ggF5nAtNXoc_text","default":"Porabila sem 240 € za tri različne dodatke, preden me je veterinarka vprašala zakaj še vedno uporabljam \"tiste, ki ne delujejo\"."},{"type":"html","id":"ggt1Cc3qyHv_text","label":"ggt1Cc3qyHv_text","default":"<p><span style=\"background-color:transparent;color:#555555;font-size:16px;\"><i>Nato sem odkrila eno stvar, ki je vse spremenila v treh &nbsp;tednih.</i></span></p>"},{"type":"html","id":"gg5PgEtY5HT_text","label":"gg5PgEtY5HT_text","default":"<p><strong>Ana Marić</strong></p>"},{"type":"html","id":"gg5wX0-CegJ_srcSet_desktop_src","label":"gg5wX0-CegJ_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0970/1284/2821/files/hf_20260209_170851_86e338bc-f84a-4c37-be8f-870a95760a16.png"},{"type":"html","id":"gg5wX0-CegJ_srcSet_mobile_src","label":"gg5wX0-CegJ_srcSet_mobile_src","default":"https://cdn.shopify.com/s/files/1/0970/1284/2821/files/hf_20260209_170851_86e338bc-f84a-4c37-be8f-870a95760a16.png"},{"type":"html","id":"ggwEpXzBV2R_text","label":"ggwEpXzBV2R_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:16px;\">Luna se na kavč ni povzpela že osem mesecev. Zveni malo. Pa ni.&nbsp;</span></p><p>&nbsp;</p><p><span style=\"background-color:transparent;color:#000000;font-size:16px;\">Enajst let je bil vsak večer enak. Jaz se usedem, ona skoči gor. Skupaj gledava televizijo, njena velika glava pa počiva na mojem kolenu. Potem je nekega dne nehala. Prišla bi do kavča, pogledala gor in ... se ulegla na tla. Brez cviljenja. Brez poskusa. Preprosto se je vdala. Takrat sem razumela, da se dogaja nekaj hujšega. Luna ni le fizično pešala. Izgubljala je svojo osebnost.</span></p><p>&nbsp;</p><p><span style=\"background-color:transparent;color:#000000;font-size:16px;\">Takrat sem razumela, da se dogaja nekaj hujšega. Luna ni le fizično pešala. Izgubljala je svojo osebnost.</span></p>"},{"type":"html","id":"ggqYDjmJSX8_text","label":"ggqYDjmJSX8_text","default":"<span style=\"background-color:transparent;color:#000000;font-size:28px;\">\"To je pač starost\" — tri besede, ki jih sovražim</span>"},{"type":"html","id":"gg5D0nU6OAr_text","label":"gg5D0nU6OAr_text","default":"<p>Peljala sem jo k veterinarju. Standardni pregled, veliko kimanja in nato tiste tri besede: \"To je pač starost.\"&nbsp;</p><p>&nbsp;</p><p>Domov sem se peljala s psičko, ki je včasih celo pot z glavo visela skozi okno. Tisti dan je samo sedela. Tiho. Če imate starejšo psičko, staro med 8 in 14 leti — in ste gledali, kako počasi postaja drugačna žival — točno veste, o čemer govorim.&nbsp;</p><p>&nbsp;</p><p>Pri 80 % psov, starejših od 8 let, težave s sklepi tiho kradejo energijo, igrivost in voljo do gibanja. Večini lastnikov rečejo, naj to sprejmejo. Naj se sprijaznijo. Naj se poslovijo od psičke, ki so jo poznali. Jaz se nisem mogla.&nbsp;</p><p>&nbsp;</p><p>In kar sem odkrila — po mesecih iskanja — me je presenetilo. Ker odgovor sploh ni bil takšen, kot sem pričakovala.</p>"},{"type":"html","id":"ggRn82zsuGs_text","label":"ggRn82zsuGs_text","default":"Kako sem preizkusila vse, a nič ni pomagalo"},{"type":"html","id":"ggFCbYRVVnf_text","label":"ggFCbYRVVnf_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:12pt;\">Nisem nekdo, ki se hitro preda. Zato sem se lotila dela. Najprej osnovni glukozamin iz trgovine za hišne živali. Dva meseca. Skoraj nič. Potem dražji, veterinarsko priporočen dodatek. Tri mesece. Luna se je še vedno vsako jutro s težavo dvigovala. CBD-olje. Vsi so prisegali nanj. Zavonjala ga je in obrnila glavo stran. Nobene razlike. Poskusila sem celo krajšati sprehode — mislila sem, da počitek pomaga. Postala je samo še bolj toga in šibka.&nbsp;</span></p><p>&nbsp;</p><p><span style=\"background-color:transparent;color:#000000;font-size:12pt;\">Porabila sem več kot 300 € in šest mesecev za stvari, ki niso delovale. In Luni je bilo vedno slabše.&nbsp;</span></p><p>&nbsp;</p><p><span style=\"background-color:transparent;color:#000000;font-size:12pt;\">Najhujši trenutek je prišel neko nedeljsko popoldne. Njena najljubša žoga se je zakotalila pod kavč. Včasih jo je lovila, kot da ji gre za življenje. Pogledala jo je. Pogledala je mene. In odšla k svoji postelji. Odšla sem v kopalnico in se zjokala.&nbsp;</span></p><p>&nbsp;</p><p><span style=\"background-color:transparent;color:#000000;font-size:12pt;\">Tisto noč sem spet začela iskati. Tokrat sem vtipkala nekaj drugega: \"Zakaj dodatki za sklepe pri psih prenehajo delovati?\" Kar sem našla, je spremenilo vse.</span></p>"},{"type":"html","id":"gg941jG98lU_text","label":"gg941jG98lU_text","default":"<span style=\"background-color:transparent;color:#000000;font-size:28px;\">Česa vam nihče ne pove o dodatkih za sklepe</span>"},{"type":"html","id":"ggYQFUfdlef_text","label":"ggYQFUfdlef_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:12pt;\">99 % dodatkov na trgu obravnava samo 1 od 3 stvari, ki uničujejo sklepe vaše psičke. Tukaj je tisto, kar se v resnici trenutno dogaja znotraj vaše starejše psičke. Težav s sklepi ne povzroča le ena stvar, temveč tri hkrati:&nbsp;</span></p><p>&nbsp;</p><p><span style=\"background-color:transparent;color:#000000;font-size:12pt;\"><strong>-Razpadanje hrustanca</strong>: Zaščitna blazina med kostmi se obrabi.&nbsp;</span></p><p><span style=\"background-color:transparent;color:#000000;font-size:12pt;\"><strong>-Kronično vnetje</strong>: Sklepi otečejo, se zakrčijo in bolijo. Zato psi ne želijo več hoditi — ne zaradi lenobe, ampak zaradi bolečine.&nbsp;</span></p><p><span style=\"background-color:transparent;color:#000000;font-size:12pt;\"><strong>-Oksidativni stres</strong>: Poškodbe zaradi prostih radikalov pospešijo razpad sklepov na celični ravni.&nbsp;</span></p><p>&nbsp;</p><p><span style=\"background-color:transparent;color:#000000;font-size:12pt;\">Osnovni glukozamin cilja samo na hrustanec. To je vse. Medtem ko ljubljenčku dajete en dodatek, druga dva vzroka delujeta brez nadzora — uničujeta sklepe, ki jih skušate zaščititi. To je tako, kot bi z lončkom zajemali vodo iz potapljajočega se čolna, medtem ko sta dve luknji še vedno odprti. Nič čudnega, da nič ni pomagalo.</span></p>"},{"type":"html","id":"ggi9nnlUOM8_srcSet_desktop_src","label":"ggi9nnlUOM8_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0970/1284/2821/files/hf_20260225_173302_bb2e7113-83c7-4ee0-aa44-c0f7906ff754.jpg"},{"type":"html","id":"gg5iX_agiWg_text","label":"gg5iX_agiWg_text","default":"Zakaj celovita podpora spremeni vse?"},{"type":"html","id":"ggsc6ZjRhOH_text","label":"ggsc6ZjRhOH_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:12pt;\">Ko sem to razumela, sem vedela, kaj moram najti. Ne le dodatka, ampak sistem — nekaj, kar udari na vse tri vzroke hkrati. Takrat sem naletela na MobiMix.&nbsp;</span></p><p>&nbsp;</p><p><span style=\"background-color:transparent;color:#000000;font-size:12pt;\">Bila sem skeptična. Vem, vem — vse se reklamira. Že prej sem bila razočarana. Ampak tole je bilo drugače. Namesto dveh sestavin, kot jih ima večina dodatkov, MobiMix uporablja osem — vsaka cilja na specifičen del problema:&nbsp;</span></p><p><span style=\"background-color:transparent;color:#000000;font-size:12pt;\"><strong>- Glukozamin + hondroitin:</strong> obnavljata in ščitita hrustanec.&nbsp;</span></p><p><span style=\"background-color:transparent;color:#000000;font-size:12pt;\"><strong>- Zelenoustna školjka:</strong> močno naravno protivnetno delovanje in esencialni minerali.&nbsp;</span></p><p><span style=\"background-color:transparent;color:#000000;font-size:12pt;\"><strong>- Kurkuma + ingver + vražji krempelj:</strong> napadejo vnetje s treh strani.&nbsp;</span></p><p><span style=\"background-color:transparent;color:#000000;font-size:12pt;\"><strong>- Šipek + vitamin C: </strong>antioksidantna zaščita pred celičnimi poškodbami.&nbsp;</span></p><p>&nbsp;</p><p><span style=\"background-color:transparent;color:#000000;font-size:12pt;\">To ni le dodatek. To je celovit protokol za okrevanje sklepov v eni tableti. Razvit v Sloveniji. Po evropskih farmacevtskih standardih. Priporočen s strani veterinarjev. Tisto noč sem ga naročila.</span></p>"},{"type":"html","id":"ggyiBjYoqpn_srcSet_desktop_src","label":"ggyiBjYoqpn_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0970/1284/2821/files/image00002_9bfcbcfd-8a57-4638-a822-e6ac9ebe4aa5.jpg"},{"type":"html","id":"ggJzLLZu3wM_text","label":"ggJzLLZu3wM_text","default":"Tri mesece kasneje"},{"type":"html","id":"ggbLbJ091fv_text","label":"ggbLbJ091fv_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:12pt;\">Luna ni le ohranila izboljšanja. Postala je&nbsp;<i>boljša</i>.</span></p><p><span style=\"background-color:transparent;color:#000000;font-size:12pt;\">Več ne liže svojih sklepov. Vstaja brez tistega bolečega obotavljanja. Teče po stopnicah—nekaj, za kar sem mislila, da ne bom nikoli več videla. Včeraj je skočila na kavč poleg mene, nekaj, česar ni naredila tri leta.</span></p><p><span style=\"background-color:transparent;color:#000000;font-size:12pt;\">Ampak največja sprememba ni v Luni.</span></p><p>&nbsp;</p><p><span style=\"background-color:transparent;color:#000000;font-size:12pt;\"><strong>Največja sprememba je v meni.</strong></span></p><p>&nbsp;</p><p><span style=\"background-color:transparent;color:#000000;font-size:12pt;\">Nisem več nemočna. Nisem več polna krivde. Ne ležim več budna ponoči in se sprašujem, ali lahko naredim še kaj več, ker&nbsp;<i>vem</i>, da delam vse, kar lahko.</span></p><p><span style=\"background-color:transparent;color:#000000;font-size:12pt;\">Rešila sem svojo psičko pred trpljenjem. In s tem sem rešila sebe pred neznosno bolečino gledanja nekoga, ki ga ljubim, kako trpi, medtem ko sem stala ob strani, nemočna.</span></p>"},{"type":"html","id":"ggIkxxv5fln_srcSet_desktop_src","label":"ggIkxxv5fln_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0970/1284/2821/files/MobiMix_eng.jpg"},{"type":"html","id":"ggz3WyIank3_label","label":"ggz3WyIank3_label","default":"<p>Preveri MobiMix</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}