
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-609046101555086258.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-609046101555086258.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-609046101555086258.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-609046101555086258.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-609046101555086258.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-609046101555086258.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-609046101555086258.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-609046101555086258.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-609046101555086258.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-609046101555086258.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-609046101555086258.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-609046101555086258.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-609046101555086258.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-609046101555086258.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-609046101555086258.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-609046101555086258.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-609046101555086258.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-609046101555086258.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-609046101555086258.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-609046101555086258.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-609046101555086258.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-609046101555086258.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-609046101555086258.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-609046101555086258.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-609046101555086258.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-609046101555086258.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-609046101555086258.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-609046101555086258.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-609046101555086258.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-609046101555086258.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-609046101555086258.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-609046101555086258.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-609046101555086258.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-609046101555086258.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-609046101555086258.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-609046101555086258.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-609046101555086258.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-609046101555086258.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-609046101555086258.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-609046101555086258.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-609046101555086258.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-609046101555086258.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-609046101555086258.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-609046101555086258.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-609046101555086258.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-609046101555086258.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-609046101555086258.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-609046101555086258.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-609046101555086258.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-609046101555086258.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-609046101555086258.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-609046101555086258.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-609046101555086258.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-609046101555086258.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-609046101555086258.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-609046101555086258.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-609046101555086258.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-609046101555086258.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-609046101555086258.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-609046101555086258.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-609046101555086258.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-609046101555086258.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-609046101555086258.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-609046101555086258.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-609046101555086258.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-609046101555086258.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-609046101555086258.gps.gpsil [style*="--bblr-mobile:"]{border-bottom-left-radius:var(--bblr-mobile)}.gps-609046101555086258.gps.gpsil [style*="--bbrr-mobile:"]{border-bottom-right-radius:var(--bbrr-mobile)}.gps-609046101555086258.gps.gpsil [style*="--bs-mobile:"]{border-style:var(--bs-mobile)}.gps-609046101555086258.gps.gpsil [style*="--btlr-mobile:"]{border-top-left-radius:var(--btlr-mobile)}.gps-609046101555086258.gps.gpsil [style*="--btrr-mobile:"]{border-top-right-radius:var(--btrr-mobile)}.gps-609046101555086258.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-609046101555086258.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-609046101555086258.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-609046101555086258.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-609046101555086258.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-609046101555086258.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-609046101555086258.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-609046101555086258.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-609046101555086258.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-609046101555086258.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-609046101555086258.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-609046101555086258.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-609046101555086258.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-609046101555086258 .gp-g-heading-3{font-family:var(--g-h3-ff);font-size:var(--g-h3-size);font-style:var(--g-h3-fs);font-weight:var(--g-h3-weight);letter-spacing:var(--g-h3-ls);line-height:var(--g-h3-lh)}.gps-609046101555086258 .gp-relative{position:relative}.gps-609046101555086258 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-609046101555086258 .gp-mb-0{margin-bottom:0}.gps-609046101555086258 .gp-inline-block{display:inline-block}.gps-609046101555086258 .gp-flex{display:flex}.gps-609046101555086258 .gp-grid{display:grid}.gps-609046101555086258 .gp-contents{display:contents}.gps-609046101555086258 .\!gp-hidden{display:none!important}.gps-609046101555086258 .gp-hidden{display:none}.gps-609046101555086258 .gp-h-full{height:100%}.gps-609046101555086258 .gp-w-full{width:100%}.gps-609046101555086258 .gp-max-w-full{max-width:100%}.gps-609046101555086258 .gp-flex-1{flex:1 1 0%}.gps-609046101555086258 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-609046101555086258 .gp-flex-col{flex-direction:column}.gps-609046101555086258 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-609046101555086258 .gp-duration-200{transition-duration:.2s}.gps-609046101555086258 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-609046101555086258 .tablet\:\!gp-hidden{display:none!important}.gps-609046101555086258 .tablet\:gp-hidden{display:none}.gps-609046101555086258 .tablet\:gp-h-full{height:100%}.gps-609046101555086258 .tablet\:gp-flex-1{flex:1 1 0%}}@media (max-width:767px){.gps-609046101555086258 .mobile\:\!gp-hidden{display:none!important}.gps-609046101555086258 .mobile\:gp-hidden{display:none}.gps-609046101555086258 .mobile\:gp-h-auto{height:auto}.gps-609046101555086258 .mobile\:gp-flex-none{flex:none}}.gps-609046101555086258 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"linear-gradient(180deg, #ffffff 0%, #fde8e7 100%)","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"attachment":"scroll","color":"linear-gradient(180deg, #ffffff 0%, #fde8e7 100%)","image":{"src":""},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gvcL17gS46"}' data-id="gvcL17gS46" id="gvcL17gS46" data-same-height-subgrid-container class="gvcL17gS46 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:16px;--pl-mobile:0px;--pb-mobile:16px;--pr-mobile:0px;--pt-tablet:var(--g-s-3xl);--pl-tablet:0px;--pb-tablet:var(--g-s-3xl);--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:linear-gradient(180deg, #ffffff 0%, #fde8e7 100%);--bgc-mobile:linear-gradient(180deg, #ffffff 0%, #fde8e7 100%);--bgi:url(), linear-gradient(180deg, #ffffff 0%, #fde8e7 100%);--bgi-mobile:url(), linear-gradient(180deg, #ffffff 0%, #fde8e7 100%);--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gkD5OxBkKO gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gcvqNfNCCu"}' data-id="gcvqNfNCCu" id="gcvqNfNCCu" data-same-height-subgrid-container class="gcvqNfNCCu gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:20px;--ml:auto;--mb:20px;--mr:auto;--ml-mobile:auto;--mr-mobile:auto;--pl-mobile:16px;--pr-mobile:16px;--ml-tablet:auto;--mr-tablet:auto;--pl-tablet:24px;--pr-tablet:24px;--cg:24px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 7fr) minmax(0, 5fr);--gtc-mobile:minmax(0, 12fr);--w:1200px;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="ghhtW8GJVc gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gimbp0vtwF"}' data-id="gimbp0vtwF" id="gimbp0vtwF" data-same-height-subgrid-container class="gimbp0vtwF gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gWVFq_LpKs gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g2D4JLaBVf"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:none;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--ta:center"
      class="gp-group/image gp-relative force-publish-1783692471329 gp-flex-1 gp-h-full mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-1 tablet:gp-h-full g2D4JLaBVf"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.gg2D4JLaBVf_srcSet_mobile_src }}" srcset="{{ section.settings.gg2D4JLaBVf_srcSet_mobile_src }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.gg2D4JLaBVf_srcSet_desktop_src }}" srcset="{{ section.settings.gg2D4JLaBVf_srcSet_desktop_src }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ section.settings.gg2D4JLaBVf_srcSet_desktop_src }}" data-src="{{ section.settings.gg2D4JLaBVf_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect-mobile:auto;--objf:cover;--w-mobile:100%;--h:100%;--h-tablet:100%;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gYLklS4Qus"
        class="gYLklS4Qus"
        style="--ta:left;--bs:none;--bs-mobile:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bblr-mobile:0px;--bbrr-mobile:0px;--btlr-mobile:0px;--btrr-mobile:0px;--mb:24px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:24px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-3  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bblr-mobile:0px;--bbrr-mobile:0px;--btlr-mobile:0px;--btrr-mobile:0px;--shadow:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--size:31px;--size-tablet:36px;--size-mobile:32px;--c:#0E1111;word-break:break-word;--bgc:transparent;--bgc-mobile:transparent;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;overflow:hidden"
        >
          {{ section.settings.ggYLklS4Qus_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gAKCnVBOkn gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gda7gIbhL_"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:none;--d-tablet:none;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1783692471331 gp-flex-1 gp-h-full mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-1 tablet:gp-h-full gda7gIbhL_"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggda7gIbhL__srcSet_desktop_src }}" srcset="{{ section.settings.ggda7gIbhL__srcSet_desktop_src }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggda7gIbhL__srcSet_desktop_src }}" srcset="{{ section.settings.ggda7gIbhL__srcSet_desktop_src }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ section.settings.ggda7gIbhL__srcSet_desktop_src }}" data-src="{{ section.settings.ggda7gIbhL__srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect-mobile:auto;--objf:cover;--w-mobile:100%;--h:100%;--h-tablet:100%;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-609046101555086258 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yet74e-p1/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=609046101420409778&sectionId=609046101555086258)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg2D4JLaBVf_srcSet_desktop_src","label":"gg2D4JLaBVf_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0970/1284/2821/files/woman-brown-sweater-lady-with-labrador_1.png"},{"type":"html","id":"gg2D4JLaBVf_srcSet_mobile_src","label":"gg2D4JLaBVf_srcSet_mobile_src","default":"https://cdn.shopify.com/s/files/1/0970/1284/2821/files/hf_20260302_183339_1e9ea61d-5694-44db-8a29-fa3ab66eb94f_1.png"},{"type":"html","id":"ggYLklS4Qus_text","label":"ggYLklS4Qus_text","default":"Operacija kolka za psa stane <span style=\"background-color:#F8AAA7;\">1.200 €.</span> Veterinar mi je povedal, da je to \"edina možnost.\" <span style=\"background-color:#F8AAA7;\">Nisem mu verjel. Imel sem prav.</span>"},{"type":"html","id":"ggda7gIbhL__srcSet_desktop_src","label":"ggda7gIbhL__srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0970/1284/2821/files/hf_20260302_183339_1e9ea61d-5694-44db-8a29-fa3ab66eb94f_1.png"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}