
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-619933413146821425.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-619933413146821425.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-619933413146821425.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-619933413146821425.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-619933413146821425.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-619933413146821425.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-619933413146821425.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-619933413146821425.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-619933413146821425.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-619933413146821425.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-619933413146821425.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-619933413146821425.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-619933413146821425.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-619933413146821425.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-619933413146821425.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-619933413146821425.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-619933413146821425.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-619933413146821425.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-619933413146821425.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-619933413146821425.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-619933413146821425.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-619933413146821425.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-619933413146821425.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-619933413146821425.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-619933413146821425.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-619933413146821425.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-619933413146821425.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-619933413146821425.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-619933413146821425.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-619933413146821425.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-619933413146821425.gps.gpsil [style*="--hvr-shadow:"]:hover{box-shadow:var(--hvr-shadow)}.gps-619933413146821425.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-619933413146821425.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-619933413146821425.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-619933413146821425.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-619933413146821425.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-619933413146821425.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-619933413146821425.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-619933413146821425.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-619933413146821425.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-619933413146821425.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-619933413146821425.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-619933413146821425.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-619933413146821425.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-619933413146821425.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-619933413146821425.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-619933413146821425.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-619933413146821425.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-619933413146821425.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-619933413146821425.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-619933413146821425.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-619933413146821425.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-619933413146821425.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-619933413146821425.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-619933413146821425.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-619933413146821425.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-619933413146821425.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-619933413146821425.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-619933413146821425.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-619933413146821425.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-619933413146821425.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-619933413146821425.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-619933413146821425.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-619933413146821425.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-619933413146821425.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-619933413146821425.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-619933413146821425.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-619933413146821425.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-619933413146821425.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-619933413146821425.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-619933413146821425.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-619933413146821425.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-619933413146821425.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-619933413146821425.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-619933413146821425.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-619933413146821425.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-619933413146821425.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-619933413146821425.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-619933413146821425.gps.gpsil [style*="--t-tablet:"]{transform:var(--t-tablet)}.gps-619933413146821425.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-619933413146821425.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-619933413146821425.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-619933413146821425.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-619933413146821425.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-619933413146821425.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-619933413146821425.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-619933413146821425.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-619933413146821425.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-619933413146821425.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-619933413146821425.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-619933413146821425.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-619933413146821425.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-619933413146821425.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-619933413146821425.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-619933413146821425.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-619933413146821425.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-619933413146821425.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-619933413146821425.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-619933413146821425.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-619933413146821425.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-619933413146821425.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-619933413146821425.gps.gpsil [style*="--t-mobile:"]{transform:var(--t-mobile)}.gps-619933413146821425.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-619933413146821425.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-619933413146821425 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-619933413146821425 .gp-relative{position:relative}.gps-619933413146821425 .gp-sticky{position:sticky}.gps-619933413146821425 .gp-z-1{z-index:1}.gps-619933413146821425 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-619933413146821425 .gp-mb-0{margin-bottom:0}.gps-619933413146821425 .gp-inline-block{display:inline-block}.gps-619933413146821425 .gp-flex{display:flex}.gps-619933413146821425 .gp-inline-flex{display:inline-flex}.gps-619933413146821425 .gp-grid{display:grid}.gps-619933413146821425 .gp-contents{display:contents}.gps-619933413146821425 .\!gp-hidden{display:none!important}.gps-619933413146821425 .gp-hidden{display:none}.gps-619933413146821425 .gp-h-auto{height:auto}.gps-619933413146821425 .gp-h-full{height:100%}.gps-619933413146821425 .gp-w-full{width:100%}.gps-619933413146821425 .gp-max-w-full{max-width:100%}.gps-619933413146821425 .gp-flex-none{flex:none}.gps-619933413146821425 .gp-shrink-0{flex-shrink:0}.gps-619933413146821425 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-619933413146821425 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-619933413146821425 .gp-flex-col{flex-direction:column}.gps-619933413146821425 .gp-flex-wrap{flex-wrap:wrap}.gps-619933413146821425 .gp-items-center{align-items:center}.gps-619933413146821425 .gp-justify-center{justify-content:center}.gps-619933413146821425 .gp-overflow-hidden{overflow:hidden}.gps-619933413146821425 .gp-break-words{overflow-wrap:break-word}.gps-619933413146821425 .gp-text-center{text-align:center}.gps-619933413146821425 .gp-leading-\[0\]{line-height:0}.gps-619933413146821425 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-619933413146821425 .gp-no-underline{text-decoration-line:none}.gps-619933413146821425 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-619933413146821425 .gp-duration-200{transition-duration:.2s}.gps-619933413146821425 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-619933413146821425 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-619933413146821425 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-619933413146821425 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-619933413146821425 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-619933413146821425 .tablet\:\!gp-hidden{display:none!important}.gps-619933413146821425 .tablet\:gp-hidden{display:none}.gps-619933413146821425 .tablet\:gp-h-auto{height:auto}.gps-619933413146821425 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-619933413146821425 .mobile\:\!gp-hidden{display:none!important}.gps-619933413146821425 .mobile\:gp-hidden{display:none}.gps-619933413146821425 .mobile\:gp-h-auto{height:auto}.gps-619933413146821425 .mobile\:gp-flex-none{flex:none}}.gps-619933413146821425 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-619933413146821425 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-619933413146821425 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-619933413146821425 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-619933413146821425 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-619933413146821425 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7Z1xlEw.woff) format('woff');
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
  
    
    
    
    <gp-sticky
    data-id="gkF20xzVr4"
      gp-data='{"uid":"gkF20xzVr4","setting":{"display":{"desktop":"after-first-cart-button","tablet":"after-first-cart-button","mobile":"after-first-cart-button"}},"advanced":{"d":{"desktop":true,"mobile":true,"tablet":true}}}'
      id="gkF20xzVr4"
      data-id="gkF20xzVr4"
      class="sticky-wrapper  gkF20xzVr4 undefined {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
      style="--w:100%;margin:0 auto;--left:50%;--t:translateX(-50%);--left-tablet:50%;--t-tablet:translateX(-50%);--left-mobile:50%;--t-mobile:translateX(-50%);--top:auto;--bottom:0;--pos:fixed;--d:none;--top-tablet:auto;--bottom-tablet:0;--pos-tablet:fixed;--d-tablet:none;--top-mobile:auto;--bottom-mobile:0;--pos-mobile:fixed;--d-mobile:none;z-index:999"
    >
      <style>.drawer-page-content {
       transform: none !important;
      -webkit-transform: none !important;
  }</style>
      <div  style="--m:0 auto;--pt:8px;--pb:8px;--pr:32px;--pl:32px;--pt-mobile:8px;--pb-mobile:8px;--pr-mobile:16px;--pl-mobile:16px;--pt-tablet:8px;--pb-tablet:8px;--pr-tablet:24px;--pl-tablet:24px;--bs:solid;--bw:2px 0px 0px 0px;--bc:#F8AAA7;--shadow:8.485281374238571px 8.48528137423857px 12px 0px rgba(18, 18, 18, 0.2);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:#0E1111;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
        <div
      data-same-height-display-contents
      
      class="gOs2TwZ4Gw gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gcvpI1y9UR"}' data-id="gcvpI1y9UR" id="gcvpI1y9UR" data-same-height-subgrid-container class="gcvpI1y9UR gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--pc:space-between;--pc-mobile:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:0"
      class="g2wa-WKu_r gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"g9K9CLp1BC"}' data-id="g9K9CLp1BC" id="g9K9CLp1BC" data-same-height-subgrid-container class="g9K9CLp1BC gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:8px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--h:auto;--pc:start;--pc-mobile:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gI-C4v1cyH gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gyKPqDWR7n"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1783692486000 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gyKPqDWR7n"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggyKPqDWR7n_srcSet_desktop_src }}" srcset="{{ section.settings.ggyKPqDWR7n_srcSet_desktop_src }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggyKPqDWR7n_srcSet_desktop_src }}" srcset="{{ section.settings.ggyKPqDWR7n_srcSet_desktop_src }}" />
    
      
      <img
        base-src="{{ section.settings.ggyKPqDWR7n_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="{{ section.settings.ggyKPqDWR7n_srcSet_desktop_src }}" data-src="{{ section.settings.ggyKPqDWR7n_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--objf:contain;--h:40px;--h-tablet:40px;--h-mobile:40px;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gjBEoPCvVa gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gPRuU7adfO"}' data-id="gPRuU7adfO" id="gPRuU7adfO" data-same-height-subgrid-container class="gPRuU7adfO gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:0px;--mb-tablet:0px;--cg:4px;--rg:0px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gKdOvq15Df gp-relative gp-flex gp-flex-col"
    >
      
    
    <div data-id="ggmJiG0BlN"  style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
      <div class="gp-flex gp-flex-wrap" style="--cg:2px;--jc:right;--jc-mobile:right;--ai:center">
            <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gtbYb0faMg ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="g7n2bf40Ap" class="gp-leading-[0] g7n2bf40Ap" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="g7n2bf40Ap" class="icon-wrapper gp-inline-flex gp-overflow-hidden g7n2bf40Ap " style="--shadow:none">
      
        <div >
          <span style="--c:#FFD200;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:16px;--h:16px;--h-tablet:16px;--h-mobile:16px;--minw:16px;--minw-tablet:16px;--minw-mobile:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg xmlns="http://www.w3.org/2000/svg" data-name="star-filled" width="20" height="20" fill="currentColor" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"></path></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gQhQFgIFhY ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gF16fLMKNZ" class="gp-leading-[0] gF16fLMKNZ" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gF16fLMKNZ" class="icon-wrapper gp-inline-flex gp-overflow-hidden gF16fLMKNZ " style="--shadow:none">
      
        <div >
          <span style="--c:#FFD200;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:16px;--h:16px;--h-tablet:16px;--h-mobile:16px;--minw:16px;--minw-tablet:16px;--minw-mobile:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg xmlns="http://www.w3.org/2000/svg" data-name="star-filled" width="20" height="20" fill="currentColor" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"></path></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gSB0v01Zo0 ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gKlteaaMpO" class="gp-leading-[0] gKlteaaMpO" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gKlteaaMpO" class="icon-wrapper gp-inline-flex gp-overflow-hidden gKlteaaMpO " style="--shadow:none">
      
        <div >
          <span style="--c:#FFD200;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:16px;--h:16px;--h-tablet:16px;--h-mobile:16px;--minw:16px;--minw-tablet:16px;--minw-mobile:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg xmlns="http://www.w3.org/2000/svg" data-name="star-filled" width="20" height="20" fill="currentColor" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"></path></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="g8wIy0wlA- ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gYi2jh2N8h" class="gp-leading-[0] gYi2jh2N8h" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gYi2jh2N8h" class="icon-wrapper gp-inline-flex gp-overflow-hidden gYi2jh2N8h " style="--shadow:none">
      
        <div >
          <span style="--c:#FFD200;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:16px;--h:16px;--h-tablet:16px;--h-mobile:16px;--minw:16px;--minw-tablet:16px;--minw-mobile:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg xmlns="http://www.w3.org/2000/svg" data-name="star-filled" width="20" height="20" fill="currentColor" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"></path></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="g4tvdXFANC ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gsXGumpwac" class="gp-leading-[0] gsXGumpwac" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:0px;--mb-tablet:0px;--ta:left">
      <div data-id="gsXGumpwac" class="icon-wrapper gp-inline-flex gp-overflow-hidden gsXGumpwac " style="--shadow:none">
      
        <div >
          <span style="--c:#FFD200;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:16px;--h:16px;--h-tablet:16px;--h-mobile:16px;--minw:16px;--minw-tablet:16px;--minw-mobile:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="star-filled" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817759863701864">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M234.29,114.85l-45,38.83L203,211.75a16.4,16.4,0,0,1-24.5,17.82L128,198.49,77.47,229.57A16.4,16.4,0,0,1,53,211.75l13.76-58.07-45-38.83A16.46,16.46,0,0,1,31.08,86l59-4.76,22.76-55.08a16.36,16.36,0,0,1,30.27,0l22.75,55.08,59,4.76a16.46,16.46,0,0,1,9.37,28.86Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div>
          </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gw0EmzOJX3 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="glwTuqzntm"
        class="glwTuqzntm"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:14px;--size-mobile:12px;--lh:100%;--lh-tablet:180%;--lh-mobile:180%;--c:#FFFFFF;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.gglwTuqzntm_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:1"
      class="gEEEfQGvUI gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gO1Rh89JsD"}' data-id="gO1Rh89JsD" id="gO1Rh89JsD" data-same-height-subgrid-container class="gO1Rh89JsD gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--w-mobile:500px;--h:auto;--pc:start;--pc-mobile:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gVYZ1Pck98 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gwt7LVxhqy"}' data-id="gwt7LVxhqy" id="gwt7LVxhqy" data-same-height-subgrid-container class="gwt7LVxhqy gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:16px;--cg-mobile:4px;--rg:16px;--rg-tablet:16px;--rg-mobile:4px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:Auto;--w-mobile:500px;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:1"
      class="gKxOlqW_uC gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gvbioGY_9q"
        class="gvbioGY_9q"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#B7B8B8;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggvbioGY_9q_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:0"
      class="giUS6788jb gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"#gco0lXxXGb","target":"_self","title":"Section 7","type":"scroll-to"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left" >
        <style>[data-id="geCTGmElFt"].gp-button-base::before, [data-id="geCTGmElFt-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 9999px;
      border-bottom-right-radius: 9999px;
      border-top-left-radius: 9999px;
      border-top-right-radius: 9999px;
      
  
    }
  
      
  [data-id="geCTGmElFt"]:hover::before, [data-id="geCTGmElFt-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#gco0lXxXGb
            target=_self
          ></a>
        <a
          data-id="geCTGmElFt" dataId="geCTGmElFt" data-state="idle" aria-label="<p>NAROČI ZDAJ</p>"
          
          href="#gco0lXxXGb" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:40px;--pr:40px;--pt:16px;--pb:16px;--pl-mobile:40px;--pr-mobile:40px;--pt-mobile:14px;--pb-mobile:14px;--bblr:9999px;--bbrr:9999px;--btlr:9999px;--btrr:9999px;--hvr-bblr:9999px;--hvr-bbrr:9999px;--hvr-btlr:9999px;--hvr-btrr:9999px;--hvr-shadow:0px 0px 15px 0px #F8AAA7;--bgi:linear-gradient(130deg, #f8aaa7 0%, #f47671 100%);--hvr-bgi:linear-gradient(130deg, #f8aaa7 1%, #f47671 100%);--hvr-bg:linear-gradient(130deg, #f8aaa7 1%, #f47671 100%);--bg:linear-gradient(130deg, #f8aaa7 0%, #f47671 100%);--c:var(--g-c-text-3, text-3);--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:1.3em;--lh-tablet:24px;--lh-mobile:24px;--weight:bold"
          class="geCTGmElFt gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
    <span
      style="--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:1.3em;--lh-tablet:24px;--lh-mobile:24px;--weight:bold;--ts:none;word-break:break-word;--ml:6px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg height="20" width="20" data-name="arrow-right-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817550824440168">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224.49,136.49l-72,72a12,12,0,0,1-17-17L187,140H40a12,12,0,0,1,0-24H187L135.51,64.48a12,12,0,0,1,17-17l72,72A12,12,0,0,1,224.49,136.49Z" /></svg>
    </span>
  
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:1.3em;--lh-tablet:24px;--lh-mobile:24px;--weight:bold;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggeCTGmElFt_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>
      </div>
    </gp-sticky>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-sticky-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-619933413146821425 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yet74e-p1/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=619933412978852657&sectionId=619933413146821425)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggyKPqDWR7n_srcSet_desktop_src","label":"ggyKPqDWR7n_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0970/1284/2821/files/Logo_cc9e4809-610d-4e12-9861-949378c4b8de.png"},{"type":"html","id":"gglwTuqzntm_text","label":"gglwTuqzntm_text","default":"<p><strong>4,7 / 5 (1356+ mnenj)</strong></p>"},{"type":"html","id":"ggvbioGY_9q_text","label":"ggvbioGY_9q_text","default":"<p>60-dnevna garancija</p>"},{"type":"html","id":"ggeCTGmElFt_label","label":"ggeCTGmElFt_label","default":"<p>NAROČI ZDAJ</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}