
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-608921832296743834.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-608921832296743834.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-608921832296743834.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-608921832296743834.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-608921832296743834.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-608921832296743834.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-608921832296743834.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-608921832296743834.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-608921832296743834.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-608921832296743834.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-608921832296743834.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-608921832296743834.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-608921832296743834.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-608921832296743834.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-608921832296743834.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-608921832296743834.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-608921832296743834.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-608921832296743834.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-608921832296743834.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-608921832296743834.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-608921832296743834.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-608921832296743834.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-608921832296743834.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-608921832296743834.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-608921832296743834.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-608921832296743834.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-608921832296743834.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-608921832296743834.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-608921832296743834.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-608921832296743834.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-608921832296743834.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-608921832296743834.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-608921832296743834.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-608921832296743834.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-608921832296743834.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-608921832296743834.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-608921832296743834.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-608921832296743834.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-608921832296743834.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-608921832296743834.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-608921832296743834.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-608921832296743834.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-608921832296743834.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-608921832296743834.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-608921832296743834.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-608921832296743834.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-608921832296743834.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-608921832296743834.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-608921832296743834.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-608921832296743834.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-608921832296743834.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-608921832296743834.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-608921832296743834.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-608921832296743834.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-608921832296743834.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-608921832296743834.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-608921832296743834.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-608921832296743834.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-608921832296743834.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-608921832296743834.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-608921832296743834.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-608921832296743834.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-608921832296743834.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-608921832296743834.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-608921832296743834.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-608921832296743834.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-608921832296743834.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-608921832296743834.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-608921832296743834.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-608921832296743834.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-608921832296743834 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-608921832296743834 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-608921832296743834 .gp-relative{position:relative}.gps-608921832296743834 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-608921832296743834 .gp-mb-0{margin-bottom:0}.gps-608921832296743834 .gp-flex{display:flex}.gps-608921832296743834 .gp-inline-flex{display:inline-flex}.gps-608921832296743834 .gp-grid{display:grid}.gps-608921832296743834 .\!gp-hidden{display:none!important}.gps-608921832296743834 .gp-hidden{display:none}.gps-608921832296743834 .gp-w-full{width:100%}.gps-608921832296743834 .gp-max-w-full{max-width:100%}.gps-608921832296743834 .gp-shrink-0{flex-shrink:0}.gps-608921832296743834 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-608921832296743834 .gp-flex-col{flex-direction:column}.gps-608921832296743834 .gp-items-center{align-items:center}.gps-608921832296743834 .gp-justify-center{justify-content:center}.gps-608921832296743834 .gp-overflow-hidden{overflow:hidden}.gps-608921832296743834 .gp-border{border-width:1px}.gps-608921832296743834 .gp-border-transparent{border-color:transparent}.gps-608921832296743834 .gp-text-left{text-align:left}.gps-608921832296743834 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-608921832296743834 .gp-duration-200{transition-duration:.2s}.gps-608921832296743834 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-608921832296743834 .tablet\:\!gp-hidden{display:none!important}.gps-608921832296743834 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-608921832296743834 .mobile\:\!gp-hidden{display:none!important}.gps-608921832296743834 .mobile\:gp-hidden{display:none}}.gps-608921832296743834 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-608921832296743834 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}@media (max-width:1024px){.gps-608921832296743834 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-608921832296743834 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-608921832296743834 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-608921832296743834 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-608921832296743834 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FEF6F6","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gmHC9A-wRD"}' data-id="gmHC9A-wRD" id="gmHC9A-wRD" data-same-height-subgrid-container class="gmHC9A-wRD gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:40px;--pl:32px;--pb:40px;--pr:32px;--pt-mobile:24px;--pl-mobile:16px;--pb-mobile:24px;--pr-mobile:16px;--pt-tablet:40px;--pl-tablet:32px;--pb-tablet:40px;--pr-tablet:32px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#FEF6F6;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gLOJy6ENLe gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gtuk59nYLU"
        class="gtuk59nYLU"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:40px;--mb-mobile:24px;--mb-tablet:40px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#0E1111;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggtuk59nYLU_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gy9PXC235Z"}' data-id="gy9PXC235Z" id="gy9PXC235Z" data-same-height-subgrid-container class="gy9PXC235Z gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:40px;--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gIctXSmzmu gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gNaccLmVVg"
        class="gNaccLmVVg"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggNaccLmVVg_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gawQKIZmZX"}' data-id="gawQKIZmZX" id="gawQKIZmZX" data-same-height-subgrid-container class="gawQKIZmZX gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g3goGLOvV9 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gvaOwvESN1"}' data-id="gvaOwvESN1" id="gvaOwvESN1" data-same-height-subgrid-container class="gvaOwvESN1 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g52z4xypOC gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gkbXF8f0RE"}' data-id="gkbXF8f0RE" id="gkbXF8f0RE" data-same-height-subgrid-container class="gkbXF8f0RE gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gK9u-nfjdd gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"glywZnH8kn"}' data-id="glywZnH8kn" id="glywZnH8kn" data-same-height-subgrid-container class="glywZnH8kn gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g9prGJon5h gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="grBBR-99_q ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="grBBR-99_q"
      data-id="grBBR-99_q"
      style="--bs:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:16px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:16px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--jc:right"
      className="grBBR-99_q"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":"32"}}'
    >
      
          <div class="gp-flex" style="--b:solid;--bc:#CC0000;--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--bgc:rgba(204, 0, 0, 0.1);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:16px;--pr:16px;--pt:16px;--pb:16px;--w:250px;--w-mobile:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:10px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-grBBR-99_q"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#0E1111;--w:100%;--h:100%;--size-desktop:32px;--size-tablet:32px;--size-mobile:32px"
                        >
                          <svg data-name="Exclamation.svg" data-id="601638745220842417" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
<path d="M4.68799 27.312C3.15982 25.836 1.94091 24.0705 1.10236 22.1184C0.26382 20.1664 -0.17756 18.0668 -0.196021 15.9424C-0.214482 13.8179 0.190345 11.711 0.99484 9.74469C1.79933 7.77835 2.98738 5.99192 4.48967 4.48964C5.99195 2.98735 7.77838 1.7993 9.74472 0.994809C11.7111 0.190315 13.8179 -0.214512 15.9424 -0.196051C18.0669 -0.17759 20.1664 0.26379 22.1185 1.10233C24.0705 1.94088 25.836 3.15979 27.312 4.68796C30.2265 7.70559 31.8392 11.7472 31.8028 15.9424C31.7663 20.1375 30.0836 24.1505 27.1171 27.1171C24.1506 30.0836 20.1376 31.7663 15.9424 31.8027C11.7473 31.8392 7.70562 30.2265 4.68799 27.312ZM14.4 7.99996V17.6H17.6V7.99996H14.4ZM14.4 20.8V24H17.6V20.8H14.4Z" fill="#CC0000"/>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class="gp-g-paragraph-1 gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text gp-g-paragraph-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--c:#151515;word-break:break-word;overflow:hidden"
        >
          {{ section.settings.ggrBBR-99_q_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div><div gp-el-wrapper  class="gVrWaNDoiC ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gVrWaNDoiC"
      data-id="gVrWaNDoiC"
      style="--bs:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:16px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:16px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--jc:right"
      className="gVrWaNDoiC"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":"32"}}'
    >
      
          <div class="gp-flex" style="--b:solid;--bc:#CC0000;--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--bgc:rgba(204, 0, 0, 0.1);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:16px;--pr:16px;--pt:16px;--pb:16px;--w:250px;--w-mobile:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:10px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gVrWaNDoiC"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#0E1111;--w:100%;--h:100%;--size-desktop:32px;--size-tablet:32px;--size-mobile:32px"
                        >
                          <svg data-name="Exclamation.svg" data-id="601638745220842417" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
<path d="M4.68799 27.312C3.15982 25.836 1.94091 24.0705 1.10236 22.1184C0.26382 20.1664 -0.17756 18.0668 -0.196021 15.9424C-0.214482 13.8179 0.190345 11.711 0.99484 9.74469C1.79933 7.77835 2.98738 5.99192 4.48967 4.48964C5.99195 2.98735 7.77838 1.7993 9.74472 0.994809C11.7111 0.190315 13.8179 -0.214512 15.9424 -0.196051C18.0669 -0.17759 20.1664 0.26379 22.1185 1.10233C24.0705 1.94088 25.836 3.15979 27.312 4.68796C30.2265 7.70559 31.8392 11.7472 31.8028 15.9424C31.7663 20.1375 30.0836 24.1505 27.1171 27.1171C24.1506 30.0836 20.1376 31.7663 15.9424 31.8027C11.7473 31.8392 7.70562 30.2265 4.68799 27.312ZM14.4 7.99996V17.6H17.6V7.99996H14.4ZM14.4 20.8V24H17.6V20.8H14.4Z" fill="#CC0000"/>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class="gp-g-paragraph-1 gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text gp-g-paragraph-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--c:#151515;word-break:break-word;overflow:hidden"
        >
          {{ section.settings.ggVrWaNDoiC_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div><div gp-el-wrapper  class="g1i5gvPhFb ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="g1i5gvPhFb"
      data-id="g1i5gvPhFb"
      style="--bs:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--jc:right"
      className="g1i5gvPhFb"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":"32"}}'
    >
      
          <div class="gp-flex" style="--b:solid;--bc:#CC0000;--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--bgc:rgba(204, 0, 0, 0.1);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:16px;--pr:16px;--pt:16px;--pb:16px;--w:250px;--w-mobile:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:10px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-g1i5gvPhFb"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#0E1111;--w:100%;--h:100%;--size-desktop:32px;--size-tablet:32px;--size-mobile:32px"
                        >
                          <svg data-name="Exclamation.svg" data-id="601638745220842417" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
<path d="M4.68799 27.312C3.15982 25.836 1.94091 24.0705 1.10236 22.1184C0.26382 20.1664 -0.17756 18.0668 -0.196021 15.9424C-0.214482 13.8179 0.190345 11.711 0.99484 9.74469C1.79933 7.77835 2.98738 5.99192 4.48967 4.48964C5.99195 2.98735 7.77838 1.7993 9.74472 0.994809C11.7111 0.190315 13.8179 -0.214512 15.9424 -0.196051C18.0669 -0.17759 20.1664 0.26379 22.1185 1.10233C24.0705 1.94088 25.836 3.15979 27.312 4.68796C30.2265 7.70559 31.8392 11.7472 31.8028 15.9424C31.7663 20.1375 30.0836 24.1505 27.1171 27.1171C24.1506 30.0836 20.1376 31.7663 15.9424 31.8027C11.7473 31.8392 7.70562 30.2265 4.68799 27.312ZM14.4 7.99996V17.6H17.6V7.99996H14.4ZM14.4 20.8V24H17.6V20.8H14.4Z" fill="#CC0000"/>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class="gp-g-paragraph-1 gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text gp-g-paragraph-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--c:#151515;word-break:break-word;overflow:hidden"
        >
          {{ section.settings.gg1i5gvPhFb_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gs-z9saZjs gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gJNz_YnJS4"}' data-id="gJNz_YnJS4" id="gJNz_YnJS4" data-same-height-subgrid-container class="gJNz_YnJS4 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gOshDOY_tK gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="gkIW8izBi_ ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gkIW8izBi_"
      data-id="gkIW8izBi_"
      style="--bs:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:16px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:16px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--jc:left"
      className="gkIW8izBi_"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":"32"}}'
    >
      
          <div class="gp-flex" style="--b:solid;--bc:#CC0000;--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--bgc:rgba(204, 0, 0, 0.1);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:16px;--pr:16px;--pt:16px;--pb:16px;--w:250px;--w-mobile:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:10px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gkIW8izBi_"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#0E1111;--w:100%;--h:100%;--size-desktop:32px;--size-tablet:32px;--size-mobile:32px"
                        >
                          <svg data-name="Exclamation.svg" data-id="601638745220842417" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
<path d="M4.68799 27.312C3.15982 25.836 1.94091 24.0705 1.10236 22.1184C0.26382 20.1664 -0.17756 18.0668 -0.196021 15.9424C-0.214482 13.8179 0.190345 11.711 0.99484 9.74469C1.79933 7.77835 2.98738 5.99192 4.48967 4.48964C5.99195 2.98735 7.77838 1.7993 9.74472 0.994809C11.7111 0.190315 13.8179 -0.214512 15.9424 -0.196051C18.0669 -0.17759 20.1664 0.26379 22.1185 1.10233C24.0705 1.94088 25.836 3.15979 27.312 4.68796C30.2265 7.70559 31.8392 11.7472 31.8028 15.9424C31.7663 20.1375 30.0836 24.1505 27.1171 27.1171C24.1506 30.0836 20.1376 31.7663 15.9424 31.8027C11.7473 31.8392 7.70562 30.2265 4.68799 27.312ZM14.4 7.99996V17.6H17.6V7.99996H14.4ZM14.4 20.8V24H17.6V20.8H14.4Z" fill="#CC0000"/>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class="gp-g-paragraph-1 gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text gp-g-paragraph-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--c:#151515;word-break:break-word;overflow:hidden"
        >
          {{ section.settings.ggkIW8izBi__childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div><div gp-el-wrapper  class="gDBX3beNrI ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gDBX3beNrI"
      data-id="gDBX3beNrI"
      style="--bs:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:16px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:16px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--jc:left"
      className="gDBX3beNrI"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":"32"}}'
    >
      
          <div class="gp-flex" style="--b:solid;--bc:#CC0000;--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--bgc:rgba(204, 0, 0, 0.1);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:16px;--pr:16px;--pt:16px;--pb:16px;--w:250px;--w-mobile:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:10px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gDBX3beNrI"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#0E1111;--w:100%;--h:100%;--size-desktop:32px;--size-tablet:32px;--size-mobile:32px"
                        >
                          <svg data-name="Exclamation.svg" data-id="601638745220842417" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
<path d="M4.68799 27.312C3.15982 25.836 1.94091 24.0705 1.10236 22.1184C0.26382 20.1664 -0.17756 18.0668 -0.196021 15.9424C-0.214482 13.8179 0.190345 11.711 0.99484 9.74469C1.79933 7.77835 2.98738 5.99192 4.48967 4.48964C5.99195 2.98735 7.77838 1.7993 9.74472 0.994809C11.7111 0.190315 13.8179 -0.214512 15.9424 -0.196051C18.0669 -0.17759 20.1664 0.26379 22.1185 1.10233C24.0705 1.94088 25.836 3.15979 27.312 4.68796C30.2265 7.70559 31.8392 11.7472 31.8028 15.9424C31.7663 20.1375 30.0836 24.1505 27.1171 27.1171C24.1506 30.0836 20.1376 31.7663 15.9424 31.8027C11.7473 31.8392 7.70562 30.2265 4.68799 27.312ZM14.4 7.99996V17.6H17.6V7.99996H14.4ZM14.4 20.8V24H17.6V20.8H14.4Z" fill="#CC0000"/>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class="gp-g-paragraph-1 gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text gp-g-paragraph-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--c:#151515;word-break:break-word;overflow:hidden"
        >
          {{ section.settings.ggDBX3beNrI_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div><div gp-el-wrapper  class="gi-rRSbZV8 ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gi-rRSbZV8"
      data-id="gi-rRSbZV8"
      style="--bs:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--jc:left"
      className="gi-rRSbZV8"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":"32"}}'
    >
      
          <div class="gp-flex" style="--b:solid;--bc:#CC0000;--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--bgc:rgba(204, 0, 0, 0.1);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:16px;--pr:16px;--pt:16px;--pb:16px;--w:250px;--w-mobile:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:10px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gi-rRSbZV8"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#0E1111;--w:100%;--h:100%;--size-desktop:32px;--size-tablet:32px;--size-mobile:32px"
                        >
                          <svg data-name="Exclamation.svg" data-id="601638745220842417" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
<path d="M4.68799 27.312C3.15982 25.836 1.94091 24.0705 1.10236 22.1184C0.26382 20.1664 -0.17756 18.0668 -0.196021 15.9424C-0.214482 13.8179 0.190345 11.711 0.99484 9.74469C1.79933 7.77835 2.98738 5.99192 4.48967 4.48964C5.99195 2.98735 7.77838 1.7993 9.74472 0.994809C11.7111 0.190315 13.8179 -0.214512 15.9424 -0.196051C18.0669 -0.17759 20.1664 0.26379 22.1185 1.10233C24.0705 1.94088 25.836 3.15979 27.312 4.68796C30.2265 7.70559 31.8392 11.7472 31.8028 15.9424C31.7663 20.1375 30.0836 24.1505 27.1171 27.1171C24.1506 30.0836 20.1376 31.7663 15.9424 31.8027C11.7473 31.8392 7.70562 30.2265 4.68799 27.312ZM14.4 7.99996V17.6H17.6V7.99996H14.4ZM14.4 20.8V24H17.6V20.8H14.4Z" fill="#CC0000"/>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class="gp-g-paragraph-1 gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text gp-g-paragraph-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--c:#151515;word-break:break-word;overflow:hidden"
        >
          {{ section.settings.ggi-rRSbZV8_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-608921832296743834 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yet74e-p1/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=608921832044626842&sectionId=608921832296743834)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggtuk59nYLU_text","label":"ggtuk59nYLU_text","default":"<p><strong>\"Problemi s sklepi pri psih niso ena stvar,\" mi je razložil. \"So trije vzroki:\"</strong></p><ol><li><strong>Vnetje</strong> — povzroča bolečino in otekanje</li><li><strong>Razgradnja hrustanca</strong> — sklepi se obrabijo</li><li><strong>Oksidativni stres</strong> — poškoduje celice sklepov</li></ol><p>\"Osnovni glukozamin in hondroitin?\" je nadaljeval. <strong>\"Ta pokrivata samo hrustanec. Ne vnetja. Ne oksidativnega stresa.\"</strong></p><p>&nbsp;</p><p>&nbsp;</p><p>Zato ni delovalo. Zdravil sem en problem od treh.</p><p>\"Potrebuješ nekaj, kar pokriva vse tri,\" je rekel. \"Ne samo 2 sestavini. Kompleksno formulo.\"</p><p>&nbsp;</p><p>Tisto noč sem šel raziskovat.</p><p>Našel sem raziskave. Res piše: <strong>samo 1 od 9 študij kaže, da osnovni glukozamin sploh deluje.</strong></p>"},{"type":"html","id":"ggNaccLmVVg_text","label":"ggNaccLmVVg_text","default":"Reks je imel te simptome:"},{"type":"html","id":"ggrBBR-99_q_childItem_0","label":"ggrBBR-99_q_childItem_0","default":"<p><strong>Počasnejše vstajanje</strong></p>"},{"type":"html","id":"ggVrWaNDoiC_childItem_0","label":"ggVrWaNDoiC_childItem_0","default":"<p><strong>Hitrejša utrujenost</strong></p>"},{"type":"html","id":"gg1i5gvPhFb_childItem_0","label":"gg1i5gvPhFb_childItem_0","default":"<p><strong>Manj skakanja</strong></p>"},{"type":"html","id":"ggkIW8izBi__childItem_0","label":"ggkIW8izBi__childItem_0","default":"<p><strong>Daljše \"ogrevanje\"</strong></p>"},{"type":"html","id":"ggDBX3beNrI_childItem_0","label":"ggDBX3beNrI_childItem_0","default":"<p><strong>Več počitka čez dan</strong></p>"},{"type":"html","id":"ggi-rRSbZV8_childItem_0","label":"ggi-rRSbZV8_childItem_0","default":"<p><strong>Nemir po sprehodu</strong></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}